@import '../base';

@media screen and (min-width: 768px) {
    
    html {

        body {

            .fv_topre {
                width: 100%;

                .mv_topre {
                    height: 50vw;

                    button.slick-prev, button.slick-next {
                        top: 50vw !important;
                    }

                    button.slick-prev {
                        left: 500px !important;

                        &::before {
                            background-image: url('https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/responsive/template/mv/prev-icon.svg');
                        }
                    }

                    button.slick-next {
                        right: 500px !important;

                        &::before {
                            background-image: url('https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/responsive/template/mv/next-icon.svg');
                        }
                    }
                }

                nav {
                    width: calc(100% - 160px);
                    padding: 0 0;
                    margin: 54px auto 0 auto;
                    overflow-x: initial;

                    ul {
                        width: 100%;
                        justify-content: space-between;

                        li {
                            width: 112px;
                            height: 90px;

                            a {

                                img {
                                    width: 60px;
                                    height: 60px;
                                }

                                span {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }

            main.top_topre {
                margin-top: 24px;
                
                section.lp_topre, section.category_topre, section.ranking_topre, section.new_topre, section.recommend_topre, section.review_topre, section.check_topre {

                    h2 {
                        @include h2-pc;
                    }
                }

                section.lp_topre {
                    padding-bottom: 64px;

                    h2 {
                        padding-top: 64px;
                    }

                    ul {
                        width: calc((100vw - 160px));
                        padding: 0 0;
                        margin: 24px auto 0 auto;

                        li {
                            width: calc(((100vw - 160px) - (24px * 3)) / 4);
                            margin-top: 0;

                            a {

                                img {
                                    height: calc(((100vw - 160px) - (24px * 3)) / 4);
                                }

                                h3 {
                                    font-size: 16px;
                                }
                            }
                        }
                    }

                    button {
                        width: 400px;
                        height: 56px;
                        margin: 24px auto 0 auto;

                        a {
                            font-size: 18px;
                        }
                    }
                }

                section.category_topre {
                    margin-top: 64px;

                    ul {
                        width: calc(100vw - 160px);
                        margin: 24px auto 0 auto;
                        justify-content: space-between;

                        li {
                            width: calc((100% - (4px * 6)) / 7);
                            height: 157px;
                            margin-top: 4px;

                            a {
                                flex-direction: column;
                                justify-content: center;

                                img {
                                    width: 100px;
                                    height: 100px;
                                }

                                h3 {
                                    margin-top: 8px;
                                    font-size: 14px;
                                }
                            }
                        }

                        li:nth-of-type(-n+7) {
                            margin-top: 0;
                        }
                    }
                }

                section.ranking_topre {
                    margin-top: 128px;

                    ul {
                        width: calc(100vw - 160px);

                        li {
                            width: calc(((100vw - 160px) - (16px * 3)) / 4);

                            a.image_topre {
                                height: calc(((100vw - 160px) - (16px * 3)) / 4);
                            }

                            ul.icon_topre {
                                height: 22.5px;
                            }

                            h3 {
                                font-size: 16px;
                            }

                            p.price_topre {font-size: 14px;

                                span {
                                    font-size: 18px;
                                }
                            }
                        }

                        li:nth-of-type(3), li:nth-of-type(4) {
                            margin-top: 0;
                        }

                        li:nth-of-type(n+5) {
                            width: calc(((100vw - 160px) - (16px * 5)) / 6);

                            a.image_topre {
                                height: calc(((100vw - 160px) - (16px * 5)) / 6);
                            }
                        }
                    }
                }

                section.new_topre, section.recommend_topre, section.check_topre {
                    margin-top: 128px;
                    position: relative;

                    button.arrow-icon_topre {
                        width: 24px;
                        height: 24px;
                        border: none;
                        margin: 0 0 0 0;
                        position: absolute;
                        top: 50%;
                        z-index: 1;
                        transition-duration: .2s;

                        &:hover {
                            opacity: .25;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    button.prev-icon_topre {
                        left: 40px;
                        transform: translateY(-50%);
                        opacity: .25;
                    }

                    button.next-icon_topre {
                        left: calc(100vw - 40px);
                        transform: translate(-100%, -50%);
                        cursor: pointer;
                    }

                    ul {
                        width: calc((200vw + 80px) - 160px);
                        margin: 24px 0 0 0;
                        flex-wrap: nowrap;
                        justify-content: initial;
                        transition-duration: .7s;

                        li {
                            width: calc(((100vw - 160px) - (16px * 5)) / 6);
                            margin-top: 0;
                            margin-left: 16px;

                            a.image_topre {
                                height: calc(((100vw - 160px) - (16px * 5)) / 6);
                            }
                        }

                        li:nth-of-type(1) {
                            margin-top: 0;
                            margin-left: 80px;
                        }

                        li:nth-of-type(n+5) {
                            display: block;
                        }

                        li:nth-of-type(7) {
                            margin-left: 160px;
                        }
                    }

                    button {
                        display: none;
                    }
                }

                section.review_topre {
                    margin-top: 128px;
                    position: relative;

                    button.arrow-icon_topre {
                        width: 24px;
                        height: 24px;
                        border: none;
                        margin: 0 0 0 0;
                        position: absolute;
                        top: 50%;
                        z-index: 1;
                        transition-duration: .2s;

                        &:hover {
                            opacity: .25;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    button.prev-icon_topre {
                        left: 40px;
                        transform: translateY(-50%);
                        opacity: .25;
                    }

                    button.next-icon_topre {
                        left: calc(100vw - 40px);
                        transform: translate(-100%, -50%);
                        cursor: pointer;
                    }

                    ul {
                        width: calc((200vw + 80px) - 160px);
                        margin: 24px 0 0 0;
                        display: flex;
                        flex-wrap: nowrap;
                        position: relative;
                        transition-duration: .7s;

                        li {
                            width: calc(((100vw - 160px) - (16px * 2)) / 3);
                            border-top: none;
                            border-left: solid 1px $border-color;
                            padding: 0 0 0 16px;
                            margin-left: 16px;

                            a {

                                .container_topre {

                                    img {
                                        width: 120px;
                                        height: 120px;
                                    }
                                }
                            }
                        }

                        li:nth-of-type(1) {
                            border-left: none;
                            padding: 0 0 0 16px;
                            margin-top: 0;
                            margin-left: 80px;
                        }

                        li:nth-of-type(n+4) {
                            display: block;
                        }

                        li:nth-of-type(4) {
                            border-left: none;
                            margin-left: 160px;
                        }
                    }

                    button {
                        display: none;
                    }
                }

                section.active_topre {

                    button.prev-icon_topre {
                        opacity: 1;
                        cursor: pointer;
                    }

                    button.next-icon_topre {
                        opacity: .25;
                        cursor: initial;
                    }

                    ul {
                        transform: translateX(-100vw);
                    }
                }

                section.search_topre {
                    padding: 64px 0 64px 0;
                    margin-top: 64px;

                    nav.search-nav_topre {
                        width: 343px;

                        .category_topre {
                            width: 100px;
                            margin-top: 0;
                        }

                        .keyword_topre {
                            width: 233px;
                            margin-top: 0;
                        }
                    }

                    h3 {
                        font-size: 14px;
                    }

                    nav.tag-nav_topre {

                        ul {

                            li {

                                a {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }

                section.banner_topre {
                    padding-top: 64px;

                    ul {
                        width: auto;
                        @include center;

                        li {
                            width: 343px;
                            margin-top: 0;
                            margin-left: 24px;
                        }

                        li:nth-of-type(1) {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}
