<nav class="drawer_topre">
    <ul class="guide_topre">
        <li><a href="<{$url.guide}>"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/guide-icon.svg" alt=""><span>ご利用ガイド</span></a></li>
        <li><a href="https://kitano-ace.jp/html/email.html"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/mail-icon.svg" alt=""><span>お問い合わせ</span></a></li>
        <li><a href="https://www.kitano-ace.jp/view/page/large-order"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/order-icon.svg" alt=""><span>大口注文</span></a></li>
    </ul>
    <ul class="category_topre">
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/retortcurry.webp" alt=""><span>レトルトカレー</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href="https://www.kitano-ace.jp/view/category/retortcurry"><span>すべてのレトルトカレー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/beef"><span>ビーフ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/pork"><span>ポーク</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/chicken"><span>チキン</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/vegetable-fruits"><span>野菜・果物</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/seafood"><span>シーフード</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/r-soup"><span>スープ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/keema"><span>キーマ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/stew"><span>シチュー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/fish.webp" alt=""><span>ご飯のお供</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href="https://www.kitano-ace.jp/view/category/meshitomo"><span>すべてのご飯のお供</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/meet"><span>肉</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/fish"><span>魚</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/vegetable"><span>野菜</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/nametake"><span>なめ茸</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/m-miso"><span>味噌</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/furikake"><span>ふりかけ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/ochazuke"><span>お茶漬け</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/m-others"><span>その他</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/sweet.webp" alt=""><span>お菓子・おつまみ</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href="https://www.kitano-ace.jp/view/category/sweets-snack"><span>すべてのお菓子・おつまみ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/sweets"><span>お菓子・スイーツ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/snack"><span>おつまみ・スナック</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/agoiridashi.webp" alt=""><span>だし・つゆ</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href="https://www.kitano-ace.jp/view/category/dashi-tsuyu"><span>すべてのだし・つゆ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/agoiridashi"><span>あご入りだし</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/dashi"><span>だし</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/tsuyu"><span>つゆ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/jam.webp" alt=""><span>ジャム・はちみつ</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href="https://www.kitano-ace.jp/view/category/jam-honey"><span>すべてのジャム・はちみつ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/jam"><span>ジャム</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/honey"><span>はちみつ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/syrup"><span>シロップ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/dressing.webp" alt=""><span>ドレッシング・オイル</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href="https://www.kitano-ace.jp/view/category/dressing-oil"><span>すべてのドレッシング・オイル</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/dressing"><span>ドレッシング</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/oil"><span>オイル</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/tea.webp" alt=""><span>飲料</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href="https://www.kitano-ace.jp/view/category/drink"><span>すべての飲料</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/coffee"><span>コーヒー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/tea"><span>お茶</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/juice"><span>ジュース</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/somen-soba-udon.webp" alt=""><span>麺類</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href="https://www.kitano-ace.jp/view/category/noodles"><span>すべての麺類</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/pasta"><span>パスタ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/somen-soba-udon"><span>そうめん・そば・うどん</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/spice.webp" alt=""><span>スパイス・塩</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href="https://www.kitano-ace.jp/view/category/spice-salt"><span>すべてのスパイス・塩</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/spice"><span>スパイス</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/salt"><span>塩</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/sauce.webp" alt=""><span>お酢・味噌・たれ</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href="https://www.kitano-ace.jp/view/category/vinegar-miso-sauce"><span>すべてのお酢・味噌・たれ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/vinegar"><span>お酢</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/v-miso"><span>味噌</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/sauce"><span>たれ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/soup.webp" alt=""><span>汁物・おかず</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href="https://www.kitano-ace.jp/view/category/soup-sidedish"><span>すべての汁物・おかず</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/s-soup"><span>汁物</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/sidedish"><span>おかず</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/takikomigohan.webp" alt=""><span>炊き込みご飯の素</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href="https://www.kitano-ace.jp/view/category/takikomigohan"><span>すべての炊き込みご飯の素</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>炊き込みご飯の素</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>その他</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/bag.webp" alt=""><span>グッズ</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href="https://www.kitano-ace.jp/view/category/goods"><span>すべてのグッズ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/bag"><span>バッグ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/tshirt"><span>Tシャツ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href="https://www.kitano-ace.jp/view/category/g-others"><span>その他</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre">
                <a href="https://www.kitano-ace.jp/view/page/wrapping"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/wrapping.webp" alt=""><span>ラッピング</span><span>&plus;</span></a>
            </div>
        </li>
    </ul>
</nav>
