<nav class="drawer_topre">
    <ul class="guide_topre">
        <li><a href=""><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/guide-icon.svg" alt=""><span>ご利用ガイド</span></a></li>
        <li><a href=""><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/mail-icon.svg" alt=""><span>お問い合わせ</span></a></li>
        <li><a href=""><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/order-icon.svg" alt=""><span>大口注文</span></a></li>
    </ul>
    <ul class="category_topre">
        <li class="open_topre">
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/retortcurry.webp" alt=""><span>レトルトカレー</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href=""><span>すべてのレトルトカレー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ビーフ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ポーク</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>チキン</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>野菜・果物</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シーフード</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>スープ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>キーマ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シチュー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/retortcurry.webp" alt=""><span>レトルトカレー</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href=""><span>すべてのレトルトカレー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ビーフ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ポーク</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>チキン</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>野菜・果物</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シーフード</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>スープ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>キーマ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シチュー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/retortcurry.webp" alt=""><span>レトルトカレー</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href=""><span>すべてのレトルトカレー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ビーフ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ポーク</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>チキン</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>野菜・果物</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シーフード</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>スープ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>キーマ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シチュー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/retortcurry.webp" alt=""><span>レトルトカレー</span><span>&plus;</span></div>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/retortcurry.webp" alt=""><span>レトルトカレー</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href=""><span>すべてのレトルトカレー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ビーフ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ポーク</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>チキン</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>野菜・果物</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シーフード</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>スープ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>キーマ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シチュー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/retortcurry.webp" alt=""><span>レトルトカレー</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href=""><span>すべてのレトルトカレー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ビーフ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ポーク</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>チキン</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>野菜・果物</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シーフード</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>スープ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>キーマ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シチュー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/retortcurry.webp" alt=""><span>レトルトカレー</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href=""><span>すべてのレトルトカレー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ビーフ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ポーク</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>チキン</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>野菜・果物</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シーフード</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>スープ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>キーマ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シチュー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/retortcurry.webp" alt=""><span>レトルトカレー</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href=""><span>すべてのレトルトカレー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ビーフ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ポーク</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>チキン</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>野菜・果物</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シーフード</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>スープ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>キーマ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シチュー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/retortcurry.webp" alt=""><span>レトルトカレー</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href=""><span>すべてのレトルトカレー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ビーフ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ポーク</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>チキン</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>野菜・果物</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シーフード</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>スープ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>キーマ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シチュー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/retortcurry.webp" alt=""><span>レトルトカレー</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href=""><span>すべてのレトルトカレー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ビーフ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ポーク</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>チキン</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>野菜・果物</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シーフード</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>スープ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>キーマ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シチュー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/retortcurry.webp" alt=""><span>レトルトカレー</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href=""><span>すべてのレトルトカレー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ビーフ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ポーク</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>チキン</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>野菜・果物</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シーフード</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>スープ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>キーマ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シチュー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/retortcurry.webp" alt=""><span>レトルトカレー</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href=""><span>すべてのレトルトカレー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ビーフ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ポーク</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>チキン</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>野菜・果物</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シーフード</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>スープ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>キーマ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シチュー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/retortcurry.webp" alt=""><span>レトルトカレー</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href=""><span>すべてのレトルトカレー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ビーフ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ポーク</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>チキン</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>野菜・果物</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シーフード</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>スープ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>キーマ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シチュー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/retortcurry.webp" alt=""><span>レトルトカレー</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href=""><span>すべてのレトルトカレー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ビーフ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ポーク</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>チキン</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>野菜・果物</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シーフード</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>スープ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>キーマ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シチュー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
    </ul>
</nav>
