<nav class="drawer_topre">
    <ul class="guide_topre">
        <li><a href=""><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/guide-icon.svg" alt=""><span>ご利用ガイド</span></a></li>
        <li><a href=""><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/mail-icon.svg" alt=""><span>お問い合わせ</span></a></li>
        <li><a href=""><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/order-icon.svg" alt=""><span>大口注文</span></a></li>
    </ul>
    <!-- 差し替え：大カテゴリー中カテゴリーURL, 〃画像, 〃カテゴリー名 -->
    <ul class="category_topre">
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/beef.webp" alt=""><span>レトルトカレー</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href=""><span>すべてのレトルトカレー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ビーフ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ポーク</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>チキン</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>野菜・果物</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シーフード</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>スープ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>キーマ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シチュー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/fish.webp" alt=""><span>ご飯のお供</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href=""><span>すべてのご飯のお供</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>肉</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>魚</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>野菜</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>なめ茸</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>味噌</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ふりかけ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>お茶漬け</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>その他</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/sweet.webp" alt=""><span>お菓子・おつまみ</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href=""><span>すべてのお菓子・おつまみ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>お菓子・スイーツ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>おつまみ・スナック</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/ragoiridashi.webp" alt=""><span>だし・つゆ</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href=""><span>すべてのだし・つゆ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>あご入りだし</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>だし</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>つゆ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/jam.webp" alt=""><span>ジャム・はちみつ</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href=""><span>すべてのジャム・はちみつ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ジャム</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>はちみつ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>シロップ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/dressing.webp" alt=""><span>ドレッシング・オイル</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href=""><span>すべてのドレッシング・オイル</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ドレッシング</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>オイル</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/tea.webp" alt=""><span>飲料</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href=""><span>すべての飲料</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>コーヒー</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>お茶</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>ジュース</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/somen-soba-udon.webp" alt=""><span>麺類</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href=""><span>すべての麺類</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>パスタ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>そうめん・そば・うどん</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/spice.webp" alt=""><span>スパイス・塩</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href=""><span>すべてのスパイス・塩</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>スパイス</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>塩</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/sauce.webp" alt=""><span>お酢・味噌・たれ</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href=""><span>すべてのお酢・味噌・たれ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>お酢</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>味噌</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>たれ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/s-soup.webp" alt=""><span>汁物・おかず</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href=""><span>すべての汁物・おかず</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>汁物</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>おかず</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/takikomigohan.webp" alt=""><span>炊き込みご飯の素</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href=""><span>すべての炊き込みご飯の素</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>炊き込みご飯の素</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>その他</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/bag.webp" alt=""><span>グッズ</span><span>&plus;</span></div>
            <ul class="small_topre">
                <li><a href=""><span>すべてのグッズ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>バッグ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>Tシャツ</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
                <li><a href=""><span>その他</span><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/next-icon.svg" alt=""></a></li>
            </ul>
        </li>
        <li>
            <div class="large_topre"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/drawer/wrapping.webp" alt=""><span>ラッピング</span><span>&plus;</span></div>
        </li>
    </ul>
</nav>
