<footer class="top_topre">
    <nav class="f-nav_topre">
        <ul>
            <li><a href="<{$url.guide}>"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/footer/guide-icon.svg" alt=""><span>ご利用ガイド</span></a></li>
            <li><a href="https://kitano-ace.jp/html/email.html"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/footer/mail-icon.svg" alt=""><span>お問い合わせ</span></a></li>
            <li><a href="https://www.kitano-ace.jp/view/page/large-order"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/footer/order-icon.svg" alt=""><span>大口注文</span></a></li>
        </ul>
    </nav>
    <div class="container_topre">
        <div class="con_topre">
            <p>お電話でのお問い合わせ</p>
            <div><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/footer/tel-icon.svg" alt=""><span>0800-800-7767</span></div>
            <p>受付時間：<span>10:00～17:00</span> (土・日・祝日を除く)</p>
        </div>
        <div class="con_topre">
            <nav class="sns-nav_topre">
                <ul>
                    <li><a href="https://aura-mico.jp/qr-codes/f291c7d61a46239450328c0546ba45c9/preview" target="_blank"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/footer/line-logo.webp" alt=""></a></li>
                    <li><a href="https://www.instagram.com/kitanoace/" target="_blank"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/footer/instagram-logo.webp" alt=""></a></li>
                    <li><a href="https://x.com/kitano_ace/" target="_blank"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/footer/x-logo.webp" alt=""></a></li>
                    <li><a href="https://www.facebook.com/kitanoace/" target="_blank"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/footer/facebook-logo.webp" alt=""></a></li>
                </ul>
            </nav>
            <nav class="info-nav_topre">
                <ul>
                    <li><a href="<{$url.company}>">会社概要</a></li>
                    <li><a href="<{$url.contract}>">特定商取引に関する表記</a></li>
                    <li><a href="<{$url.policy}>">プライバシーポリシー</a></li>
                </ul>
            </nav>
            <small>&copy;2025 北野エースWEB SHOP All Rights Reserved.</small>
        </div>
    </div>
</footer>
