<nav class="icon_topre">
    <ul>
        <li><a href="https://www.kitano-ace.jp/view/category/outlet"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/pu-icon_sale.svg" alt=""><span>お買い得</span></a></li>
        <li><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/pu-icon_ranking.svg" alt=""><span>ランキング</span></li>
        <li><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/pu-icon_new-item.svg" alt=""><span>新商品</span></li>
        <li><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/pu-icon_pointup.svg" alt=""><span>ポイントUP</span></li>
        <li><a href="https://www.kitano-ace.jp/view/category/freeshipping"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/pu-icon_free-shipping.svg" alt=""><span>送料無料</span></a></li>
        <li><a href="https://www.kitano-ace.jp/view/search?search_keyword=%A4%A2%A4%B4%C6%FE%A4%EA%A4%C0%A4%B7&search_price_low=&search_price_high=&search_category=&search_original_code="><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/pu-icon_agoiridashi.svg" alt=""><span>あご入りだし</span></a></li>
        <li><a href="https://www.kitano-ace.jp/view/category/kitanoselection"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/pu-icon_kitanoselection.svg" alt=""><span>オリジナル商品</span></a></li>
        <li><a href="https://www.kitano-ace.jp/view/search?search_keyword=&search_price_low=&search_price_high=&search_category=&search_original_code="><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/pu-icon_new-customer.svg" alt=""><span>初めての方へ</span></a></li>
        <li><a href="https://www.kitano-ace.jp/view/category/kiwami"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/pu-icon_kiwami.svg" alt=""><span>きわみ</span></a></li>
        <li><a href="https://www.kitano-ace.jp/view/category/retortcurry"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/pu-icon_curry.svg" alt=""><span>レトルトカレー</span></a></li>
    </ul>
</nav>
