<nav>
    <!-- 差し替え：アイコン選定カテゴリーURL, 〃画像, 〃カテゴリー名 -->
    <ul>
        <li><a href=""><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/pu-icon_sale.svg" alt=""><span>お買い得</span></a></li>
        <li><a href=""><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/pu-icon_ranking.svg" alt=""><span>ランキング</span></a></li>
        <li><a href=""><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/pu-icon_new-item.svg" alt=""><span>新商品</span></a></li>
        <li><a href=""><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/pu-icon_pointup.svg" alt=""><span>ポイントUP</span></a></li>
        <li><a href=""><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/pu-icon_free-shipping.svg" alt=""><span>送料無料</span></a></li>
        <li><a href=""><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/pu-icon_agoiridashi.svg" alt=""><span>あご入りだし</span></a></li>
        <li><a href=""><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/pu-icon_kitanoselection.svg" alt=""><span>オリジナル商品</span></a></li>
        <li><a href=""><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/pu-icon_new-customer.svg" alt=""><span>初めての方へ</span></a></li>
        <li><a href=""><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/pu-icon_kiwami.svg" alt=""><span>きわみ</span></a></li>
        <li><a href=""><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/pu-icon_curry.svg" alt=""><span>レトルトカレー</span></a></li>
    </ul>
</nav>
