<nav>
    <!-- 差し替え：アイコン選定カテゴリーURL, 〃画像, 〃カテゴリー名 -->
    <ul>
        <li><a href=""><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/sale-icon.svg" alt=""><span>お買い得</span></a></li>
        <li><a href=""><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/sale-icon.svg" alt=""><span>お買い得</span></a></li>
        <li><a href=""><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/sale-icon.svg" alt=""><span>お買い得</span></a></li>
        <li><a href=""><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/sale-icon.svg" alt=""><span>お買い得</span></a></li>
        <li><a href=""><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/sale-icon.svg" alt=""><span>お買い得</span></a></li>
        <li><a href=""><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/sale-icon.svg" alt=""><span>お買い得</span></a></li>
        <li><a href=""><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/sale-icon.svg" alt=""><span>お買い得</span></a></li>
        <li><a href=""><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/sale-icon.svg" alt=""><span>お買い得</span></a></li>
        <li><a href=""><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/sale-icon.svg" alt=""><span>お買い得</span></a></li>
        <li><a href=""><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/sale-icon.svg" alt=""><span>お買い得</span></a></li>
    </ul>
</nav>
