<section class="lp_topre">
    <h2>特集</h2>
    <ul>
        <li>
            <a href="https://www.kitano-ace.jp/view/category/kitanoselection">
                <img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/bnr/kitanoselection_sp.webp" alt="">
                <h3>キタノセレクション</h3>
            </a>
        </li>
        <li>
            <a href="https://www.kitano-ace.jp/view/page/authenticcurry">
                <img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/bnr/authenticcurry_sp.webp" alt="">
                <h3>本格レトルトカレー</h3>
            </a>
        </li>
        <li>
            <a href="https://www.kitano-ace.jp/view/page/premiumfurikake">
                <img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/bnr/zeitaku-hurikake_sp.webp" alt="">
                <h3>贅沢ふりかけ</h3>
            </a>
        </li>
        <li>
            <a href="https://www.kitano-ace.jp/view/page/spring-dressing">
                <img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/bnr/spring-dressing_sp.webp" alt="">
                <h3>春のドレッシング</h3>
            </a>
        </li>
    </ul>
    <button><a href="https://www.kitano-ace.jp/view/category/ct173">特集をすべて見る</a></button>
</section>
