<section class="lp_topre">
    <h2>特集</h2>
    <!-- 差し替え：特集URL, 〃スクエア画像, 〃タイトル名 -->
    <ul>
        <li>
            <a href="">
                <img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/lp/springdressing-test.webp" alt="">
                <h3>春のドレッシング</h3>
            </a>
        </li>
        <li>
            <a href="">
                <img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/lp/springdressing-test.webp" alt="">
                <h3>春のドレッシング</h3>
            </a>
        </li>
        <li>
            <a href="">
                <img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/lp/springdressing-test.webp" alt="">
                <h3>春のドレッシング</h3>
            </a>
        </li>
        <li>
            <a href="">
                <img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/lp/springdressing-test.webp" alt="">
                <h3>春のドレッシング</h3>
            </a>
        </li>
    </ul>
    <button><a href="">特集をすべて見る</a></button>
</section>
