<div class="mv_topre">
    <div>
        <!-- SP -->
        <img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/mv/springdressing-test.webp" alt="春のドレッシング" class="sp_topre">
        <!-- PC -->
        <img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/responsive/template/mv/springdressing-test.webp" alt="春のドレッシング" class="pc_topre">
    </div>
    <div>
        <!-- SP -->
        <img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/mv/springdressing-test.webp" alt="春のドレッシング" class="sp_topre">
        <!-- PC -->
        <img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/responsive/template/mv/springdressing-test.webp" alt="春のドレッシング" class="pc_topre">
    </div>
    <div>
        <!-- SP -->
        <img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/mv/springdressing-test.webp" alt="春のドレッシング" class="sp_topre">
        <!-- PC -->
        <img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/responsive/template/mv/springdressing-test.webp" alt="春のドレッシング" class="pc_topre">
    </div>
    <div>
        <!-- SP -->
        <img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/mv/springdressing-test.webp" alt="春のドレッシング" class="sp_topre">
        <!-- PC -->
        <img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/responsive/template/mv/springdressing-test.webp" alt="春のドレッシング" class="pc_topre">
    </div>
    <div>
        <!-- SP -->
        <img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/mv/springdressing-test.webp" alt="春のドレッシング" class="sp_topre">
        <!-- PC -->
        <img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/responsive/template/mv/springdressing-test.webp" alt="春のドレッシング" class="pc_topre">
    </div>
</div>
