<div class="mv_topre">
    <div>
        <!-- SP -->
        <a href="https://www.kitano-ace.jp/view/page/authenticcurry"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/bnr/authenticcurry_sp.webp" alt="本格レトルトカレー" class="sp_topre"></a>    
        <!-- PC -->
        <a href="https://www.kitano-ace.jp/view/page/authenticcurry"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/bnr/authenticcurry_pc.jpg" alt="本格レトルトカレー" class="pc_topre"></a>
    </div>
    <div>
        <!-- SP -->
        <a href="https://www.kitano-ace.jp/view/page/spring-dressing"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/bnr/spring-dressing_sp.webp" alt="春のドレッシング" class="sp_topre"></a>
        <!-- PC -->
        <a href="https://www.kitano-ace.jp/view/page/spring-dressing"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/bnr/spring-dressing_pc.jpg" alt="春のドレッシング" class="pc_topre"></a>
    </div>
    <div>
        <!-- SP -->
        <a href="https://www.kitano-ace.jp/view/page/premiumfurikake"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/bnr/zeitaku-hurikake_sp.webp" alt="贅沢ふりかけ" class="sp_topre"></a>
        <!-- PC -->
        <a href="https://www.kitano-ace.jp/view/page/premiumfurikake"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/bnr/zeitaku-hurikake_pc.jpg" alt="贅沢ふりかけ" class="pc_topre"></a>
    </div>
    <div>
        <!-- SP -->
        <a href="https://www.kitano-ace.jp/view/page/dressing_award"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/bnr/dressingaward2025_sp.webp" alt="第5回ドレッシング大賞" class="sp_topre"></a>
        <!-- PC -->
        <a href="https://www.kitano-ace.jp/view/page/dressing_award"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/bnr/dressingaward2025_pc.jpg" alt="第5回ドレッシング大賞" class="pc_topre"></a>
    </div>
    <div>
        <!-- SP -->
        <a href="https://www.kitano-ace.jp/view/category/kitanoselection"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/bnr/kitanoselection_sp.webp" alt="キタノセレクション" class="sp_topre"></a>
        <!-- PC -->
        <a href="https://www.kitano-ace.jp/view/category/kitanoselection"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/bnr/kitanoselection_pc.jpg" alt="キタノセレクション" class="pc_topre"></a>
    </div>
    <div>
        <!-- SP -->
        <a href="https://aura-mico.jp/qr-codes/f291c7d61a46239450328c0546ba45c9/preview"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/bnr/line_sp.webp" alt="LINE友だち募集中" class="sp_topre"></a>
        <!-- PC -->
        <a href="https://aura-mico.jp/qr-codes/f291c7d61a46239450328c0546ba45c9/preview"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/bnr/line_pc.jpg" alt="LINE友だち募集中" class="pc_topre"></a>
    </div>
    <div>
        <!-- SP -->
        <a href="https://www.kitano-ace.jp/view/page/kaimonokurabu"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/bnr/kaimono-club_sp.webp" alt="北野エース買い物倶楽部" class="sp_topre"></a>
        <!-- PC -->
        <a href="https://www.kitano-ace.jp/view/page/kaimonokurabu"><img src="https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/bnr/kaimono-club_pc.jpg" alt="北野エース買い物倶楽部" class="pc_topre"></a>
    </div>
</div>
