<nav class="tag-nav_topre">
    <ul>
        <li><a href="https://www.kitano-ace.jp/view/search?search_keyword=%A5%B3%A1%BC%A5%D2%A1%BC&search_price_low=&search_price_high=&search_category=&search_original_code=">コーヒー</a></li>
        <li><a href="https://www.kitano-ace.jp/view/search?search_keyword=%A5%AB%A5%EC%A1%BC&search_price_low=&search_price_high=&search_category=&search_original_code=">カレー</a></li>
        <li><a href="https://www.kitano-ace.jp/view/search?search_keyword=%A5%AA%A5%EA%A1%BC%A5%D6%A5%AA%A5%A4%A5%EB&search_price_low=&search_price_high=&search_category=&search_original_code=">オリーブオイル</a></li>
        <li><a href="https://www.kitano-ace.jp/view/search?search_keyword=%A4%D5%A4%EA%A4%AB%A4%B1&search_price_low=&search_price_high=&search_category=&search_original_code=">ふりかけ</a></li>
    </ul>
</nav>
