html.topre * {
  font-family: "yu-gothic-pr6n", sans-serif;
  font-weight: 400;
  color: #414143;
  letter-spacing: 0.04em;
  line-height: 150%;
}

html, body {
  width: 100vw;
  overflow-x: hidden;
}

header, footer, main, section, a, img {
  width: 100%;
}

a {
  height: 100%;
}

img {
  max-width: 100%;
  object-fit: cover;
}

button {
  display: block;
}

.pc_topre {
  display: none !important;
}

@media screen and (min-width: 768px) {
  .sp_topre {
    display: none !important;
  }
  .pc_topre {
    display: block !important;
  }
}