html.topre * {
  font-family: "yu-gothic-pr6n", sans-serif;
  font-weight: 400;
  color: #414143;
  letter-spacing: 0.04em;
  line-height: 150%;
}

html, body {
  width: 100vw;
  overflow-x: hidden;
}

header, footer, main, section, a, img {
  width: 100%;
}

a {
  height: 100%;
}

img {
  max-width: 100%;
  object-fit: cover;
}

button {
  display: block;
}

.pc_topre {
  display: none !important;
}

@media screen and (min-width: 768px) {
  .sp_topre {
    display: none !important;
  }
  .pc_topre {
    display: block !important;
  }
}
.category-title .list-head-sort dt {
  font-size: 14px;
}
.category-title .list-head-sort dd {
  margin-left: 16px;
}
.category-title .list-head-sort dd a {
  font-size: 14px;
}
.category-title .list-head-sort dd.select_topre a {
  border-radius: 50px;
  background-color: #414143;
  padding: 2px 16px;
  color: #FFFFFF;
}

.pager-wrap ul.pager li {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 0;
  margin-left: 16px;
  display: flex;
  align-items: center;
}
.pager-wrap ul.pager li a {
  display: block;
  width: 100%;
  height: 100%;
}
.pager-wrap ul.pager li a span {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.pager-wrap ul.pager li span.current {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #414143;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #FFFFFF;
}
.pager-wrap ul.pager li:nth-of-type(1) {
  margin-left: 0;
}
.pager-wrap ul.pager li:nth-last-of-type(1) {
  width: auto;
}

.modal-open {
  align-items: center;
}
.modal-open a.add-cart-btn {
  border-radius: 50px !important;
  background-color: #B11232 !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.modal-open a.add-cart-btn img {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.modal-open .favorite {
  width: 45px;
  height: 40px;
  display: block !important;
  border: solid 1px #B4B4B7;
  border-radius: 50%;
  margin-left: 8px;
}
.modal-open .favorite a {
  width: 100%;
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.modal-open .favorite a::after {
  display: none !important;
}
.modal-open .favorite a img {
  display: block;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .modal-open a.add-cart-btn {
    width: 375px;
  }
  .modal-open .favorite {
    width: 40px;
  }
}