html.topre * {
  font-family: "yu-gothic-pr6n", sans-serif;
  font-weight: 400;
  color: #414143;
  letter-spacing: 0.04em;
  line-height: 150%;
}

html, body {
  width: 100vw;
  overflow-x: hidden;
}

header, footer, main, section, a, img {
  width: 100%;
}

a {
  height: 100%;
}

img {
  max-width: 100%;
  object-fit: cover;
}

button {
  display: block;
}

.pc_topre {
  display: none !important;
}

@media screen and (min-width: 768px) {
  .sp_topre {
    display: none !important;
  }
  .pc_topre {
    display: block !important;
  }
}
.category-title .list-head-sort dt {
  font-size: 14px;
}
.category-title .list-head-sort dd {
  margin-left: 16px;
}
.category-title .list-head-sort dd a {
  font-size: 14px;
}
.category-title .list-head-sort dd.select_topre a {
  border-radius: 50px;
  background-color: #414143;
  padding: 2px 16px;
  color: #FFFFFF;
}

.pager-wrap ul.pager li {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 0;
  margin-left: 16px;
  display: flex;
  align-items: center;
}
.pager-wrap ul.pager li a {
  display: block;
  width: 100%;
  height: 100%;
}
.pager-wrap ul.pager li a span {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.pager-wrap ul.pager li span.current {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #414143;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #FFFFFF;
}
.pager-wrap ul.pager li:nth-of-type(1) {
  margin-left: 0;
}
.pager-wrap ul.pager li:nth-last-of-type(1) {
  width: auto;
}

.modal-open {
  align-items: center;
}
.modal-open a.add-cart-btn {
  border-radius: 50px !important;
  background-color: #B11232 !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.modal-open a.add-cart-btn img {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.modal-open .favorite {
  width: 45px;
  height: 40px;
  display: block !important;
  border: solid 1px #B4B4B7;
  border-radius: 50%;
  margin-left: 8px;
}
.modal-open .favorite a {
  width: 100%;
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.modal-open .favorite a::after {
  display: none !important;
}
.modal-open .favorite a img {
  display: block;
  width: 24px;
  height: 24px;
}

.category_topre, .search_topre {
  padding: 0 0 0 0;
  margin-top: 19px;
}
.category_topre .breadcrumb, .search_topre .breadcrumb {
  margin-bottom: 0;
  margin-left: 16px;
}
.category_topre .container, .search_topre .container {
  margin-top: 19px;
}
.category_topre .container main.main section.main-section .fv_topre, .search_topre .container main.main section.main-section .fv_topre {
  height: 126px;
}
.category_topre .container main.main section.main-section .category-title, .search_topre .container main.main section.main-section .category-title {
  display: none;
}
.category_topre .container main.main section.main-section p.total-count, .search_topre .container main.main section.main-section p.total-count {
  margin: 40px 0 0 16px;
  font-size: 12px;
}
.category_topre .container main.main section.main-section p.total-count span, .search_topre .container main.main section.main-section p.total-count span {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.category_topre .container main.main section.main-section ul.item-list, .search_topre .container main.main section.main-section ul.item-list {
  width: calc(100vw - 32px);
  margin: 40px auto 0 auto;
  justify-content: space-between;
}
.category_topre .container main.main section.main-section ul.item-list li, .search_topre .container main.main section.main-section ul.item-list li {
  width: calc((100% - 16px) / 2);
  margin: 40px 0 0 16px;
}
.category_topre .container main.main section.main-section ul.item-list li .item-list-review, .search_topre .container main.main section.main-section ul.item-list li .item-list-review {
  margin-top: 8px;
}
.category_topre .container main.main section.main-section ul.item-list li p.item-name, .search_topre .container main.main section.main-section ul.item-list li p.item-name {
  margin-top: 4px;
  font-weight: 700;
}
.category_topre .container main.main section.main-section ul.item-list li .con_topre, .search_topre .container main.main section.main-section ul.item-list li .con_topre {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.category_topre .container main.main section.main-section ul.item-list li .con_topre .text_topre p, .search_topre .container main.main section.main-section ul.item-list li .con_topre .text_topre p {
  font-size: 12px;
}
.category_topre .container main.main section.main-section ul.item-list li .con_topre .text_topre p span, .search_topre .container main.main section.main-section ul.item-list li .con_topre .text_topre p span {
  font-size: 16px;
  font-weight: 700;
}
.category_topre .container main.main section.main-section ul.item-list li .con_topre .text_topre p.sale-discount-rate, .search_topre .container main.main section.main-section ul.item-list li .con_topre .text_topre p.sale-discount-rate {
  color: #B11232 !important;
}
.category_topre .container main.main section.main-section ul.item-list li .con_topre .favorite_topre, .search_topre .container main.main section.main-section ul.item-list li .con_topre .favorite_topre {
  width: 40px;
  height: 40px;
  border: solid 1px #757578;
  border-radius: 50%;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category_topre .container main.main section.main-section ul.item-list li .con_topre .favorite_topre a:nth-of-type(1), .search_topre .container main.main section.main-section ul.item-list li .con_topre .favorite_topre a:nth-of-type(1) {
  display: none;
}
.category_topre .container main.main section.main-section ul.item-list li .con_topre .favorite_topre a.hide, .search_topre .container main.main section.main-section ul.item-list li .con_topre .favorite_topre a.hide {
  display: none;
}
.category_topre .container main.main section.main-section ul.item-list li .con_topre .favorite_topre a.hide img, .search_topre .container main.main section.main-section ul.item-list li .con_topre .favorite_topre a.hide img {
  width: 24px;
  height: 24px;
  margin-bottom: 0;
}
.category_topre .container main.main section.main-section ul.item-list li:nth-of-type(odd), .search_topre .container main.main section.main-section ul.item-list li:nth-of-type(odd) {
  margin: 40px 0 0 0;
}
.category_topre .container main.main section.main-section ul.item-list li:nth-of-type(1), .search_topre .container main.main section.main-section ul.item-list li:nth-of-type(1) {
  margin: 0 0 0 0;
}
.category_topre .container main.main section.main-section ul.item-list li:nth-of-type(2), .search_topre .container main.main section.main-section ul.item-list li:nth-of-type(2) {
  margin: 0 0 0 16px;
}
.category_topre .container main.main section.main-section .pager-wrap, .search_topre .container main.main section.main-section .pager-wrap {
  width: fit-content;
  margin: 48px auto 0 auto;
}
.category_topre .container main.main section.main-section .pager-wrap ul.pager, .search_topre .container main.main section.main-section .pager-wrap ul.pager {
  position: relative;
}
.category_topre .container main.main section.main-section .pager-wrap ul.pager img.prev_topre, .category_topre .container main.main section.main-section .pager-wrap ul.pager img.next_topre, .search_topre .container main.main section.main-section .pager-wrap ul.pager img.prev_topre, .search_topre .container main.main section.main-section .pager-wrap ul.pager img.next_topre {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
}
.category_topre .container main.main section.main-section .pager-wrap ul.pager img.prev_topre, .search_topre .container main.main section.main-section .pager-wrap ul.pager img.prev_topre {
  left: -24px;
  transform: translate(-100%, -50%);
}
.category_topre .container main.main section.main-section .pager-wrap ul.pager img.next_topre, .search_topre .container main.main section.main-section .pager-wrap ul.pager img.next_topre {
  right: -24px;
  transform: translate(100%, -50%);
}
.category_topre .container main.main section.main-section .pager-wrap ul.pager img.off_topre, .search_topre .container main.main section.main-section .pager-wrap ul.pager img.off_topre {
  opacity: 0.5;
}
.category_topre .container main.main section.main-section .pager-wrap ul.pager li:nth-last-of-type(1), .search_topre .container main.main section.main-section .pager-wrap ul.pager li:nth-last-of-type(1) {
  width: 24px;
}

@media screen and (min-width: 768px) {
  .modal-open a.add-cart-btn {
    width: 375px;
  }
  .modal-open .favorite {
    width: 40px;
  }
  .category_topre .container, .search_topre .container {
    margin-top: 17.5px;
  }
  .category_topre .container main.main section.main-section .fv_topre, .search_topre .container main.main section.main-section .fv_topre {
    height: 430px;
  }
  .category_topre .container main.main section.main-section ul.item-list, .search_topre .container main.main section.main-section ul.item-list {
    width: calc(100vw - 160px);
    justify-content: initial;
  }
  .category_topre .container main.main section.main-section ul.item-list li, .search_topre .container main.main section.main-section ul.item-list li {
    width: calc((100% - 48px) / 4);
  }
  .category_topre .container main.main section.main-section ul.item-list li p.item-name, .search_topre .container main.main section.main-section ul.item-list li p.item-name {
    font-size: 16px;
  }
  .category_topre .container main.main section.main-section ul.item-list li:nth-of-type(odd), .search_topre .container main.main section.main-section ul.item-list li:nth-of-type(odd) {
    margin: 40px 0 0 16px;
  }
  .category_topre .container main.main section.main-section ul.item-list li:nth-of-type(2), .category_topre .container main.main section.main-section ul.item-list li:nth-of-type(3), .category_topre .container main.main section.main-section ul.item-list li:nth-of-type(4), .search_topre .container main.main section.main-section ul.item-list li:nth-of-type(2), .search_topre .container main.main section.main-section ul.item-list li:nth-of-type(3), .search_topre .container main.main section.main-section ul.item-list li:nth-of-type(4) {
    margin: 0 0 0 16px;
  }
  .category_topre .container main.main section.main-section ul.item-list li:nth-of-type(4n+1), .search_topre .container main.main section.main-section ul.item-list li:nth-of-type(4n+1) {
    margin: 40px 0 0 0;
  }
  .category_topre .container main.main section.main-section ul.item-list li:nth-of-type(1), .search_topre .container main.main section.main-section ul.item-list li:nth-of-type(1) {
    margin: 0 0 0 0 !important;
  }
}
section.ks-items dl.list-head-sort {
  display: none;
}
section.ks-items p.total-count {
  margin: 40px 0 0 16px;
  font-size: 12px;
}
section.ks-items p.total-count span {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
section.ks-items ul.item-list {
  width: calc(100vw - 32px);
  margin: 40px auto 0 auto;
  justify-content: space-between;
}
section.ks-items ul.item-list li {
  width: calc((100% - 16px) / 2);
  margin: 40px 0 0 16px;
}
section.ks-items ul.item-list li .item-list-review {
  margin-top: 8px;
}
section.ks-items ul.item-list li p.item-name {
  margin-top: 4px;
  font-weight: 700;
}
section.ks-items ul.item-list li .con_topre {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
section.ks-items ul.item-list li .con_topre .text_topre p {
  font-size: 12px;
}
section.ks-items ul.item-list li .con_topre .text_topre p span {
  font-size: 16px;
  font-weight: 700;
}
section.ks-items ul.item-list li .con_topre .text_topre p.sale-discount-rate {
  color: #B11232 !important;
}
section.ks-items ul.item-list li .con_topre .favorite_topre {
  width: 40px;
  height: 40px;
  border: solid 1px #757578;
  border-radius: 50%;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.ks-items ul.item-list li .con_topre .favorite_topre img {
  width: 24px;
  height: 24px;
  margin-bottom: 0;
}
section.ks-items ul.item-list li:nth-of-type(odd) {
  margin: 40px 0 0 0;
}
section.ks-items ul.item-list li:nth-of-type(1) {
  margin: 0 0 0 0;
}
section.ks-items ul.item-list li:nth-of-type(2) {
  margin: 0 0 0 16px;
}
section.ks-items .pager-wrap {
  width: fit-content !important;
  margin: 48px auto 0 auto !important;
}
section.ks-items .pager-wrap ul.pager {
  position: relative;
}
section.ks-items .pager-wrap ul.pager img.prev_topre, section.ks-items .pager-wrap ul.pager img.next_topre {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
}
section.ks-items .pager-wrap ul.pager img.prev_topre {
  left: -24px;
  transform: translate(-100%, -50%);
}
section.ks-items .pager-wrap ul.pager img.next_topre {
  right: -24px;
  transform: translate(100%, -50%);
}
section.ks-items .pager-wrap ul.pager img.off_topre {
  opacity: 0.5;
}
section.ks-items .pager-wrap ul.pager li:nth-last-of-type(1) {
  width: 24px;
}