html.topre * {
  font-family: "yu-gothic-pr6n", sans-serif;
  font-weight: 400;
  color: #414143;
  letter-spacing: 0.04em;
  line-height: 150%;
}

html, body {
  width: 100vw;
  overflow-x: hidden;
}

header, footer, main, section, a, img {
  width: 100%;
}

a {
  height: 100%;
}

img {
  max-width: 100%;
  object-fit: cover;
}

html.topre * {
  font-family: "yu-gothic-pr6n", sans-serif;
  font-weight: 400;
  color: #414143;
  letter-spacing: 0.04em;
  line-height: 150%;
}

html, body {
  width: 100vw;
  overflow-x: hidden;
}

header, footer, main, section, a, img {
  width: 100%;
}

a {
  height: 100%;
}

img {
  max-width: 100%;
  object-fit: cover;
}

header {
  position: fixed;
  top: 0;
  left: 0;
}
header p {
  padding: 7px 0;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 100%;
  text-align: center;
}
header p span:nth-of-type(1) {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 100%;
}
header p span:nth-of-type(2) {
  font-weight: 700;
  color: #B11232;
  letter-spacing: 0;
  line-height: 100%;
}
header .con_topre {
  height: 56px;
  border-top: solid 1px #D8D8DB;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .con_topre h1 {
  width: 119px;
  height: 32px;
  margin-left: 16px;
}
header .con_topre h1 a {
  display: block;
}
header .con_topre nav {
  margin-right: 16px;
}
header .con_topre nav ul {
  display: flex;
  align-items: center;
}
header .con_topre nav ul li {
  margin-left: 8px;
}
header .con_topre nav ul li a {
  display: block;
  font-size: 8px;
  letter-spacing: -0.05em;
  line-height: 100%;
}
header .con_topre nav ul li a img {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}
header .con_topre nav ul li a span {
  display: block;
  line-height: 100%;
  text-align: center;
}
header .con_topre nav ul li:nth-of-type(1) {
  margin-left: 0;
}
header .search-nav_topre {
  border-top: solid 1px #D8D8DB;
  padding: 0 16px 8px 16px;
  display: flex;
  justify-content: space-between;
}
header .search-nav_topre .category_topre {
  width: 26.7vw;
  height: 36px;
  border-radius: 4px;
  background-color: #F1F1F4;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .search-nav_topre .category_topre select {
  width: 65px;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 100%;
}
header .search-nav_topre .category_topre img {
  width: 24px;
  height: 24px;
}
header .search-nav_topre .keyword_topre {
  width: 62.1vw;
  height: 36px;
  border-radius: 4px;
  background-color: #F1F1F4;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .search-nav_topre .keyword_topre img {
  width: 24px;
  height: 24px;
  margin-left: 12px;
}
header .search-nav_topre .keyword_topre input {
  display: block;
  width: calc(100% - 24px);
  height: 100%;
  background-color: #F1F1F4;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

nav.drawer_topre {
  width: 100%;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100vw);
  z-index: 9998;
}
nav.drawer_topre ul.guide_topre {
  height: 80px;
  border-top: solid 1px #D8D8DB;
  border-bottom: solid 1px #D8D8DB;
  background-color: #F1F1F4;
  margin-top: 136px;
  display: flex;
}
nav.drawer_topre ul.guide_topre li {
  width: 33.3333333333%;
  height: 100%;
  border-left: solid 1px #D8D8DB;
}
nav.drawer_topre ul.guide_topre li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
nav.drawer_topre ul.guide_topre li a img {
  width: 24px;
  height: 24px;
}
nav.drawer_topre ul.guide_topre li a span {
  margin-top: 4px;
  font-family: "yu-mincho-pr6n", sans-serif;
  font-size: 12px;
}
nav.drawer_topre ul.guide_topre li:nth-of-type(1) {
  border-left: none;
}
nav.drawer_topre ul.category_topre {
  height: calc(100vh - 216px);
  overflow-y: auto;
}
nav.drawer_topre ul.category_topre li .large_topre {
  height: 72px;
  border-bottom: solid 1px #D8D8DB;
  display: flex;
  align-items: center;
  position: relative;
}
nav.drawer_topre ul.category_topre li .large_topre img {
  width: auto;
  height: 60px;
  margin-left: 16px;
  object-fit: initial;
}
nav.drawer_topre ul.category_topre li .large_topre span:nth-of-type(1) {
  margin-left: 12px;
  font-family: "yu-mincho-pr6n", sans-serif;
  font-size: 16px;
  line-height: 100%;
}
nav.drawer_topre ul.category_topre li .large_topre span:nth-of-type(2) {
  font-size: 24px;
  line-height: 100%;
  position: absolute;
  top: 50%;
  right: 22.5px;
  transform: translateY(-50%);
}
nav.drawer_topre ul.category_topre li ul.small_topre {
  display: none;
}
nav.drawer_topre ul.category_topre li ul.small_topre li {
  height: 52px;
  border-top: solid 1px #D8D8DB;
  background-color: #F1F1F4;
}
nav.drawer_topre ul.category_topre li ul.small_topre li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav.drawer_topre ul.category_topre li ul.small_topre li a span {
  display: block;
  font-family: "yu-mincho-pr6n", sans-serif;
  transform: translateX(16px);
}
nav.drawer_topre ul.category_topre li ul.small_topre li a img {
  display: block;
  width: 24px;
  height: 24px;
  transform: translateX(-16px);
}
nav.drawer_topre ul.category_topre li ul.small_topre li:nth-last-of-type(1) {
  border-bottom: solid 1px #D8D8DB;
}
nav.drawer_topre ul.category_topre li.open_topre ul.small_topre {
  display: block;
}

footer {
  background-color: #F1F1F4;
  margin-top: 40px;
  padding-bottom: 40px;
}
footer nav.f-nav_topre ul {
  height: 80px;
  border-top: solid 1px #D8D8DB;
  border-bottom: solid 1px #D8D8DB;
  display: flex;
}
footer nav.f-nav_topre ul li {
  width: 33.3333333333%;
  height: 100%;
  border-left: solid 1px #D8D8DB;
}
footer nav.f-nav_topre ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer nav.f-nav_topre ul li a img {
  width: 24px;
  height: 24px;
}
footer nav.f-nav_topre ul li a span {
  margin-top: 4px;
  font-family: "yu-mincho-pr6n", sans-serif;
  font-size: 12px;
}
footer nav.f-nav_topre ul li:nth-of-type(1) {
  border-left: none;
}
footer .con_topre {
  width: calc(100% - 32px);
  background-color: #FFFFFF;
  padding-bottom: 8px;
  margin: 40px auto 0 auto;
}
footer .con_topre p {
  margin-top: 4px;
  text-align: center;
}
footer .con_topre p:nth-of-type(1) {
  padding-top: 8px;
  margin-top: 0;
  font-family: "yu-mincho-pr6n", sans-serif;
}
footer .con_topre div {
  margin-top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .con_topre div img {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}
footer .con_topre div span {
  font-family: "roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
}
footer .con_topre p:nth-of-type(2) {
  font-family: "roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
}
footer .sns-nav_topre {
  margin: 24px 0 0 16px;
}
footer .sns-nav_topre ul {
  display: flex;
}
footer .sns-nav_topre ul li {
  margin-left: 24px;
}
footer .sns-nav_topre ul li a {
  display: block;
  width: 32px;
  height: 32px;
}
footer .sns-nav_topre ul li:nth-of-type(1) {
  margin-left: 0;
}
footer .info-nav_topre {
  margin: 24px 0 0 16px;
}
footer .info-nav_topre ul li {
  margin-top: 8px;
}
footer .info-nav_topre ul li a {
  font-size: 12px;
  letter-spacing: 0;
}
footer .info-nav_topre ul li:nth-of-type(1) {
  margin-top: 0;
}
footer small {
  display: block;
  margin: 24px 0 0 16px;
  font-size: 10px;
  color: #B4B4B7;
}

html body .fv_topre {
  width: 375px;
  margin-top: 142.5px;
}
html body .fv_topre img.bg_topre {
  width: 100%;
  height: 375px;
  background-color: #D9D9D9;
}
html body .fv_topre nav {
  padding: 0 16px;
  margin-top: 24px;
  white-space: nowrap;
  overflow-x: scroll;
}
html body .fv_topre nav ul {
  width: fit-content;
  display: flex;
}
html body .fv_topre nav ul li {
  width: 80px;
  height: 88px;
}
html body .fv_topre nav ul li a img {
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 auto;
}
html body .fv_topre nav ul li a span {
  margin-top: 8px;
  display: block;
  font-family: "yu-mincho-pr6n", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 100%;
  text-align: center;
}
html body main.top_topre {
  margin-top: 16px;
}
html body main.top_topre section.lp_topre h2, html body main.top_topre section.category_topre h2, html body main.top_topre section.ranking_topre h2, html body main.top_topre section.new_topre h2, html body main.top_topre section.recommend_topre h2, html body main.top_topre section.review_topre h2, html body main.top_topre section.check_topre h2 {
  margin-left: 16px;
  font-family: "yu-mincho-pr6n", sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0;
}
html body main.top_topre section.lp_topre {
  background-color: #F1F1F4;
  padding-bottom: 40px;
}
html body main.top_topre section.lp_topre h2 {
  padding-top: 40px;
}
html body main.top_topre section.lp_topre ul {
  padding: 0 16px;
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
html body main.top_topre section.lp_topre ul li {
  width: calc((100vw - 48px) / 2);
  margin-top: 16px;
}
html body main.top_topre section.lp_topre ul li a {
  display: block;
}
html body main.top_topre section.lp_topre ul li a img {
  height: calc((100vw - 48px) / 2);
  background-color: #D9D9D9;
}
html body main.top_topre section.lp_topre ul li a h3 {
  margin-top: 4px;
  font-family: "yu-mincho-pr6n", sans-serif;
  font-weight: 700;
}
html body main.top_topre section.lp_topre ul li:nth-of-type(1), html body main.top_topre section.lp_topre ul li:nth-of-type(2) {
  margin-top: 0;
}
html body main.top_topre section.lp_topre button {
  display: block;
  width: calc(100% - 32px);
  height: 52px;
  border-radius: 50px;
  background-color: #414143;
  padding: 0;
  margin: 16px auto 0 auto;
}
html body main.top_topre section.lp_topre button a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "yu-mincho-pr6n", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: 0;
}
html body main.top_topre section.category_topre {
  margin-top: 40px;
}
html body main.top_topre section.category_topre ul {
  width: calc(100vw - 32px);
  margin: 16px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
}
html body main.top_topre section.category_topre ul li {
  width: 50%;
  height: 80px;
  margin-top: 4px;
}
html body main.top_topre section.category_topre ul li a {
  display: flex;
  align-items: center;
}
html body main.top_topre section.category_topre ul li a img {
  width: 60px;
  height: 60px;
  margin-left: 8px;
}
html body main.top_topre section.category_topre ul li a h3 {
  margin-left: 4px;
  font-family: "yu-mincho-pr6n", sans-serif;
  font-size: 12px;
  font-weight: 700;
}
html body main.top_topre section.category_topre ul li:nth-of-type(1), html body main.top_topre section.category_topre ul li:nth-of-type(2) {
  margin-top: 0;
}
html body main.top_topre section.ranking_topre {
  margin-top: 80px;
}
html body main.top_topre section.ranking_topre ul {
  width: calc(100vw - 32px);
  margin: 64px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
html body main.top_topre section.ranking_topre ul li {
  width: calc((100% - 16px) / 2);
  margin-top: 64px;
  position: relative;
}
html body main.top_topre section.ranking_topre ul li p.ranking-icon_topre {
  width: 32px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "roboto", sans-serif;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
}
html body main.top_topre section.ranking_topre ul li p.ranking-icon_topre img {
  height: 100%;
  position: absolute;
  top: -4px;
  left: 0;
  z-index: -1;
}
html body main.top_topre section.ranking_topre ul li p.status_topre {
  background-color: #B11232;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
}
html body main.top_topre section.ranking_topre ul li a.image_topre {
  display: block;
  height: calc((100vw - 32px - 16px) / 2);
}
html body main.top_topre section.ranking_topre ul li a.image_topre img {
  height: 100%;
}
html body main.top_topre section.ranking_topre ul li ul.icon_topre {
  width: 200px;
  margin-top: 4px;
}
html body main.top_topre section.ranking_topre ul li ul.icon_topre li {
  margin: 0 0 0 0;
}
html body main.top_topre section.ranking_topre ul li .review_topre {
  display: flex;
  align-items: center;
}
html body main.top_topre section.ranking_topre ul li .review_topre .reviewRate .reviewRateStar::before {
  font-size: 12px;
  color: #FFD327;
}
html body main.top_topre section.ranking_topre ul li .review_topre a {
  width: initial;
  font-size: 12px;
  transform: translateY(1.5px);
}
html body main.top_topre section.ranking_topre ul li h3 {
  margin-top: 4px;
}
html body main.top_topre section.ranking_topre ul li h3 a {
  font-weight: 700;
}
html body main.top_topre section.ranking_topre ul li p.price_topre {
  margin-top: 4px;
  font-size: 12px;
}
html body main.top_topre section.ranking_topre ul li p.price_topre span {
  font-size: 16px;
  font-weight: 700;
}
html body main.top_topre section.ranking_topre ul li:nth-of-type(1), html body main.top_topre section.ranking_topre ul li:nth-of-type(2) {
  margin-top: 0;
}
html body main.top_topre section.ranking_topre ul li:nth-of-type(5), html body main.top_topre section.ranking_topre ul li:nth-of-type(6), html body main.top_topre section.ranking_topre ul li:nth-of-type(7), html body main.top_topre section.ranking_topre ul li:nth-of-type(8), html body main.top_topre section.ranking_topre ul li:nth-of-type(9), html body main.top_topre section.ranking_topre ul li:nth-of-type(10) {
  width: calc((100% - 24px) / 3);
}
html body main.top_topre section.ranking_topre ul li:nth-of-type(5) a.image_topre, html body main.top_topre section.ranking_topre ul li:nth-of-type(6) a.image_topre, html body main.top_topre section.ranking_topre ul li:nth-of-type(7) a.image_topre, html body main.top_topre section.ranking_topre ul li:nth-of-type(8) a.image_topre, html body main.top_topre section.ranking_topre ul li:nth-of-type(9) a.image_topre, html body main.top_topre section.ranking_topre ul li:nth-of-type(10) a.image_topre {
  height: calc((100vw - 16px - 24px) / 3);
}
html body main.top_topre section.ranking_topre ul li:nth-of-type(5) ul.icon_topre, html body main.top_topre section.ranking_topre ul li:nth-of-type(6) ul.icon_topre, html body main.top_topre section.ranking_topre ul li:nth-of-type(7) ul.icon_topre, html body main.top_topre section.ranking_topre ul li:nth-of-type(8) ul.icon_topre, html body main.top_topre section.ranking_topre ul li:nth-of-type(9) ul.icon_topre, html body main.top_topre section.ranking_topre ul li:nth-of-type(10) ul.icon_topre {
  width: 150px;
}
html body main.top_topre section.ranking_topre ul li:nth-of-type(5) .review_topre, html body main.top_topre section.ranking_topre ul li:nth-of-type(6) .review_topre, html body main.top_topre section.ranking_topre ul li:nth-of-type(7) .review_topre, html body main.top_topre section.ranking_topre ul li:nth-of-type(8) .review_topre, html body main.top_topre section.ranking_topre ul li:nth-of-type(9) .review_topre, html body main.top_topre section.ranking_topre ul li:nth-of-type(10) .review_topre {
  display: flex;
  align-items: center;
}
html body main.top_topre section.ranking_topre ul li:nth-of-type(5) .review_topre .reviewRate .reviewRateStar::before, html body main.top_topre section.ranking_topre ul li:nth-of-type(6) .review_topre .reviewRate .reviewRateStar::before, html body main.top_topre section.ranking_topre ul li:nth-of-type(7) .review_topre .reviewRate .reviewRateStar::before, html body main.top_topre section.ranking_topre ul li:nth-of-type(8) .review_topre .reviewRate .reviewRateStar::before, html body main.top_topre section.ranking_topre ul li:nth-of-type(9) .review_topre .reviewRate .reviewRateStar::before, html body main.top_topre section.ranking_topre ul li:nth-of-type(10) .review_topre .reviewRate .reviewRateStar::before {
  font-size: 10px;
  color: #FFD327;
}
html body main.top_topre section.ranking_topre ul li:nth-of-type(5) .review_topre a, html body main.top_topre section.ranking_topre ul li:nth-of-type(6) .review_topre a, html body main.top_topre section.ranking_topre ul li:nth-of-type(7) .review_topre a, html body main.top_topre section.ranking_topre ul li:nth-of-type(8) .review_topre a, html body main.top_topre section.ranking_topre ul li:nth-of-type(9) .review_topre a, html body main.top_topre section.ranking_topre ul li:nth-of-type(10) .review_topre a {
  width: initial;
  font-size: 10px;
  transform: translateY(1.5px);
}
html body main.top_topre section.new_topre, html body main.top_topre section.recommend_topre, html body main.top_topre section.check_topre {
  margin-top: 48px;
}
html body main.top_topre section.new_topre ul, html body main.top_topre section.recommend_topre ul, html body main.top_topre section.check_topre ul {
  width: calc(100vw - 32px);
  margin: 24px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
html body main.top_topre section.new_topre ul li, html body main.top_topre section.recommend_topre ul li, html body main.top_topre section.check_topre ul li {
  width: calc((100% - 24px) / 2);
  margin-top: 24px;
  position: relative;
}
html body main.top_topre section.new_topre ul li a.image_topre, html body main.top_topre section.recommend_topre ul li a.image_topre, html body main.top_topre section.check_topre ul li a.image_topre {
  display: block;
  height: calc((100vw - 32px - 24px) / 2);
}
html body main.top_topre section.new_topre ul li a.image_topre img, html body main.top_topre section.recommend_topre ul li a.image_topre img, html body main.top_topre section.check_topre ul li a.image_topre img {
  height: 100%;
}
html body main.top_topre section.new_topre ul li ul.icon_topre, html body main.top_topre section.recommend_topre ul li ul.icon_topre, html body main.top_topre section.check_topre ul li ul.icon_topre {
  width: 200px;
  margin-top: 4px;
}
html body main.top_topre section.new_topre ul li ul.icon_topre li, html body main.top_topre section.recommend_topre ul li ul.icon_topre li, html body main.top_topre section.check_topre ul li ul.icon_topre li {
  margin: 0 0 0 0;
}
html body main.top_topre section.new_topre ul li .review_topre, html body main.top_topre section.recommend_topre ul li .review_topre, html body main.top_topre section.check_topre ul li .review_topre {
  display: flex;
  align-items: center;
}
html body main.top_topre section.new_topre ul li .review_topre .reviewRate .reviewRateStar::before, html body main.top_topre section.recommend_topre ul li .review_topre .reviewRate .reviewRateStar::before, html body main.top_topre section.check_topre ul li .review_topre .reviewRate .reviewRateStar::before {
  font-size: 12px;
  color: #FFD327;
}
html body main.top_topre section.new_topre ul li .review_topre a, html body main.top_topre section.recommend_topre ul li .review_topre a, html body main.top_topre section.check_topre ul li .review_topre a {
  width: initial;
  font-size: 12px;
  transform: translateY(1.5px);
}
html body main.top_topre section.new_topre ul li h3, html body main.top_topre section.recommend_topre ul li h3, html body main.top_topre section.check_topre ul li h3 {
  margin-top: 4px;
}
html body main.top_topre section.new_topre ul li h3 a, html body main.top_topre section.recommend_topre ul li h3 a, html body main.top_topre section.check_topre ul li h3 a {
  font-weight: 700;
}
html body main.top_topre section.new_topre ul li p.price_topre, html body main.top_topre section.recommend_topre ul li p.price_topre, html body main.top_topre section.check_topre ul li p.price_topre {
  margin-top: 4px;
  font-size: 12px;
}
html body main.top_topre section.new_topre ul li p.price_topre span, html body main.top_topre section.recommend_topre ul li p.price_topre span, html body main.top_topre section.check_topre ul li p.price_topre span {
  font-size: 16px;
  font-weight: 700;
}
html body main.top_topre section.new_topre ul li:nth-of-type(1), html body main.top_topre section.new_topre ul li:nth-of-type(2), html body main.top_topre section.recommend_topre ul li:nth-of-type(1), html body main.top_topre section.recommend_topre ul li:nth-of-type(2), html body main.top_topre section.check_topre ul li:nth-of-type(1), html body main.top_topre section.check_topre ul li:nth-of-type(2) {
  margin-top: 0;
}
html body main.top_topre section.new_topre button, html body main.top_topre section.recommend_topre button, html body main.top_topre section.check_topre button {
  display: block;
  width: 38.9vw;
  height: 40px;
  border: solid 1px #414143;
  border-radius: 50px;
  background-color: transparent;
  padding: 0;
  margin: 24px auto 0 auto;
}
html body main.top_topre section.new_topre button a, html body main.top_topre section.recommend_topre button a, html body main.top_topre section.check_topre button a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "yu-mincho-pr6n", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
}
html body main.top_topre section.new_topre button a img, html body main.top_topre section.recommend_topre button a img, html body main.top_topre section.check_topre button a img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
html body main.top_topre section.recommend_topre {
  margin-top: 56px;
}
html body main.top_topre section.review_topre {
  margin-top: 56px;
}
html body main.top_topre section.check_topre {
  margin-top: 80px;
}
html body main.top_topre section.check_topre ul {
  width: calc(100vw - 32px);
}
html body main.top_topre section.check_topre ul li {
  width: calc((100% - 16px) / 3);
}
html body main.top_topre section.check_topre ul li a.image_topre {
  height: calc((100vw - 16px - 16px) / 3);
}
html body main.top_topre section.check_topre ul li ul.icon_topre {
  width: 150px;
}
html body main.top_topre section.check_topre ul li .review_topre .reviewRate .reviewRateStar::before {
  font-size: 10px;
}
html body main.top_topre section.check_topre ul li .review_topre a {
  font-size: 10px;
}
html body main.top_topre section.check_topre ul li:nth-of-type(1), html body main.top_topre section.check_topre ul li:nth-of-type(2), html body main.top_topre section.check_topre ul li:nth-of-type(3) {
  margin-top: 0;
}
html body main.top_topre section.search_topre {
  border-top: solid 1px #D8D8DB;
  padding: 40px 0 48px 0;
  margin-top: 40px;
}
html body main.top_topre section.search_topre nav.search-nav_topre {
  width: calc(100% - 32px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
html body main.top_topre section.search_topre nav.search-nav_topre .category_topre {
  width: 26.7vw;
  height: 36px;
  border-radius: 4px;
  background-color: #F1F1F4;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body main.top_topre section.search_topre nav.search-nav_topre .category_topre select {
  width: 65px;
  font-size: 12px;
  line-height: 100%;
}
html body main.top_topre section.search_topre nav.search-nav_topre .category_topre img {
  width: 24px;
  height: 24px;
}
html body main.top_topre section.search_topre nav.search-nav_topre .keyword_topre {
  width: 62.1vw;
  height: 36px;
  border-radius: 4px;
  background-color: #F1F1F4;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body main.top_topre section.search_topre nav.search-nav_topre .keyword_topre img {
  width: 24px;
  height: 24px;
  margin-left: 12px;
}
html body main.top_topre section.search_topre nav.search-nav_topre .keyword_topre input {
  display: block;
  width: calc(100% - 24px);
  height: 100%;
  background-color: #F1F1F4;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
html body main.top_topre section.search_topre h3 {
  margin-top: 24px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}
html body main.top_topre section.search_topre nav.tag-nav_topre {
  margin-top: 8px;
}
html body main.top_topre section.search_topre nav.tag-nav_topre ul {
  display: flex;
  justify-content: center;
}
html body main.top_topre section.search_topre nav.tag-nav_topre ul li {
  margin-left: 8px;
}
html body main.top_topre section.search_topre nav.tag-nav_topre ul li a {
  border-radius: 20px;
  background-color: #EDE1B3;
  padding: 4px 8px;
  font-size: 12px;
}
html body main.top_topre section.search_topre nav.tag-nav_topre ul li:nth-of-type(1) {
  margin-left: 0;
}
html body main.top_topre section.banner_topre {
  border-top: solid 1px #D8D8DB;
  padding-top: 40px;
}
html body main.top_topre section.banner_topre ul {
  width: calc(100vw - 32px);
  margin: 0 auto;
}
html body main.top_topre section.banner_topre ul li {
  margin-top: 16px;
}
html body main.top_topre section.banner_topre ul li a {
  display: block;
}
html body main.top_topre section.banner_topre ul li:nth-of-type(1) {
  margin-top: 0;
}