html.topre * {
  font-family: "yu-gothic-pr6n", sans-serif;
  font-weight: 400;
  color: #414143;
  letter-spacing: 0.04em;
  line-height: 150%;
}

html, body {
  width: 100vw;
  overflow-x: hidden;
}

header, footer, main, section, a, img {
  width: 100%;
}

a {
  height: 100%;
}

img {
  max-width: 100%;
  object-fit: cover;
}

button {
  display: block;
}

.pc_topre {
  display: none !important;
}

@media screen and (min-width: 768px) {
  .sp_topre {
    display: none !important;
  }
  .pc_topre {
    display: block !important;
  }
}
@media screen and (min-width: 768px) {
  header.top_topre p, header.down_topre p {
    font-size: 14px !important;
  }
  header.top_topre p span:nth-of-type(1), header.down_topre p span:nth-of-type(1) {
    font-size: 16px;
  }
  header.top_topre p span:nth-of-type(2), header.down_topre p span:nth-of-type(2) {
    font-size: 14px;
  }
  header.top_topre .container_topre, header.down_topre .container_topre {
    height: 64px;
    border-bottom: solid 1px #D8D8DB;
  }
  header.top_topre .container_topre h1, header.down_topre .container_topre h1 {
    width: 134px;
    height: 36px;
    margin-left: 80px;
  }
  header.top_topre .container_topre .con_topre, header.down_topre .container_topre .con_topre {
    height: 100%;
    display: flex;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul, header.down_topre .container_topre .con_topre nav.gnav_topre ul {
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li, header.down_topre .container_topre .con_topre nav.gnav_topre ul li {
    width: 120px;
    height: 100%;
    margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "yu-mincho-pr6n", sans-serif;
    text-align: center;
    cursor: pointer;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre, header.down_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre {
    display: none;
    width: 100vw;
    background-color: #FFFFFF;
    padding-bottom: 40px;
    position: absolute;
    top: 100%;
    left: 0;
    animation: open_topre 0.2s forwards;
  }
  @keyframes open_topre {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0;
    }
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre button, header.down_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 40px;
    right: 80px;
    z-index: 1;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre button img, header.down_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre button img {
    display: block;
    width: 24px;
    height: 24px;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre button span, header.down_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre button span {
    display: block;
    font-size: 8px;
    letter-spacing: -0.05em;
    line-height: 100%;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul, header.down_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul {
    width: calc(100% - 160px);
    margin: 94px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li, header.down_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li {
    width: calc((100vw - 160px - 24px) / 7);
    height: calc((100vw - 160px - 24px) / 7);
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li img, header.down_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li img {
    width: 100px;
    height: 100px;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li span, header.down_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li span {
    display: block;
    font-family: "yu-mincho-pr6n", sans-serif;
    margin-top: 8px;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li nav.small_topre, header.down_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li nav.small_topre {
    display: none;
    width: 100vw;
    border-top: solid 1px #D8D8DB;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li nav.small_topre nav.breadcrumb_topre, header.down_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li nav.small_topre nav.breadcrumb_topre {
    display: flex;
    align-items: center;
    position: absolute;
    top: 40px;
    left: 80px;
    z-index: 1;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li nav.small_topre nav.breadcrumb_topre img, header.down_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li nav.small_topre nav.breadcrumb_topre img {
    display: block;
    width: 24px;
    height: 24px;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li nav.small_topre nav.breadcrumb_topre span, header.down_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li nav.small_topre nav.breadcrumb_topre span {
    display: block;
    margin-top: 0;
    margin-left: 16px;
    font-size: 16px;
    line-height: 100%;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li nav.small_topre ul, header.down_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li nav.small_topre ul {
    width: calc(100% - 160px);
    margin: 94px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: initial;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li nav.small_topre ul li, header.down_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li nav.small_topre ul li {
    width: calc((100vw - 160px - 24px) / 7);
    height: calc((100vw - 160px - 24px) / 7);
    margin-left: 4px;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li nav.small_topre ul li a, header.down_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li nav.small_topre ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li nav.small_topre ul li a img, header.down_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li nav.small_topre ul li a img {
    width: 100px;
    height: 100px;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li nav.small_topre ul li a span, header.down_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li nav.small_topre ul li a span {
    display: block;
    font-family: "yu-mincho-pr6n", sans-serif;
    margin-top: 8px;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li nav.small_topre ul li:nth-of-type(1), header.top_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li nav.small_topre ul li:nth-of-type(7), header.down_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li nav.small_topre ul li:nth-of-type(1), header.down_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li nav.small_topre ul li:nth-of-type(7) {
    margin-left: 0;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li nav.small_topre ul li:nth-of-type(1), header.down_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li nav.small_topre ul li:nth-of-type(1) {
    background-color: #F1F1F4;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li nav.small_topre ul li:nth-of-type(1) a, header.down_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul li nav.small_topre ul li:nth-of-type(1) a {
    font-family: "yu-mincho-pr6n", sans-serif;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul nav.guide-nav_topre, header.down_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul nav.guide-nav_topre {
    width: 100%;
    height: 60px;
    margin: 24px auto 0 auto;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul nav.guide-nav_topre ul, header.down_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul nav.guide-nav_topre ul {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    display: flex;
    justify-content: space-between;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul nav.guide-nav_topre ul li, header.down_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul nav.guide-nav_topre ul li {
    width: calc((100% - 8px) / 3);
    height: 100%;
    background-color: #F1F1F4;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul nav.guide-nav_topre ul li a, header.down_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul nav.guide-nav_topre ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul nav.guide-nav_topre ul li a img, header.down_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul nav.guide-nav_topre ul li a img {
    width: 24px;
    height: 24px;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul nav.guide-nav_topre ul li a span, header.down_topre .container_topre .con_topre nav.gnav_topre ul li nav.medium_topre ul nav.guide-nav_topre ul li a span {
    display: block;
    margin-top: 0;
    margin-left: 8px;
    font-family: "yu-mincho-pr6n", sans-serif;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li.category_topre, header.down_topre .container_topre .con_topre nav.gnav_topre ul li.category_topre {
    margin-left: 0;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li.lp_topre nav.medium_topre ul, header.down_topre .container_topre .con_topre nav.gnav_topre ul li.lp_topre nav.medium_topre ul {
    padding-top: 60px;
    margin: 0 auto;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li.lp_topre nav.medium_topre ul li, header.down_topre .container_topre .con_topre nav.gnav_topre ul li.lp_topre nav.medium_topre ul li {
    width: calc((100vw - 160px - 80px) / 6);
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li.lp_topre nav.medium_topre ul li a, header.down_topre .container_topre .con_topre nav.gnav_topre ul li.lp_topre nav.medium_topre ul li a {
    display: block;
    height: fit-content;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li.lp_topre nav.medium_topre ul li a img, header.down_topre .container_topre .con_topre nav.gnav_topre ul li.lp_topre nav.medium_topre ul li a img {
    width: calc((100vw - 160px - 80px) / 6);
    height: calc((100vw - 160px - 80px) / 6);
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li.lp_topre nav.medium_topre ul li a span, header.down_topre .container_topre .con_topre nav.gnav_topre ul li.lp_topre nav.medium_topre ul li a span {
    display: block;
    margin-top: 4px;
    font-size: 16px;
    text-align: initial;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li.lp_topre nav.medium_topre button, header.down_topre .container_topre .con_topre nav.gnav_topre ul li.lp_topre nav.medium_topre button {
    display: block;
    width: 400px;
    height: 56px;
    border: none;
    border-radius: 50px;
    background-color: #414143;
    padding: 0;
    margin: 44px auto 0 auto;
    position: relative;
    top: inherit;
    right: initial;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li.lp_topre nav.medium_topre button a, header.down_topre .container_topre .con_topre nav.gnav_topre ul li.lp_topre nav.medium_topre button a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "yu-mincho-pr6n", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 0;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li.guide_topre, header.down_topre .container_topre .con_topre nav.gnav_topre ul li.guide_topre {
    padding-bottom: 0;
    position: relative;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li.guide_topre nav.medium_topre, header.down_topre .container_topre .con_topre nav.gnav_topre ul li.guide_topre nav.medium_topre {
    width: 143px;
    background-color: #F1F1F4;
    padding-bottom: 0;
    transform: translateY(8px);
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li.guide_topre nav.medium_topre ul, header.down_topre .container_topre .con_topre nav.gnav_topre ul li.guide_topre nav.medium_topre ul {
    width: 100%;
    margin: 0 0 0 0;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li.guide_topre nav.medium_topre ul li, header.down_topre .container_topre .con_topre nav.gnav_topre ul li.guide_topre nav.medium_topre ul li {
    width: 100%;
    height: 60px;
    display: block;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li.guide_topre nav.medium_topre ul li a, header.down_topre .container_topre .con_topre nav.gnav_topre ul li.guide_topre nav.medium_topre ul li a {
    display: flex;
    align-items: center;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li.guide_topre nav.medium_topre ul li a img, header.down_topre .container_topre .con_topre nav.gnav_topre ul li.guide_topre nav.medium_topre ul li a img {
    width: 24px;
    height: 24px;
    margin-left: 12px;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li.guide_topre nav.medium_topre ul li a span, header.down_topre .container_topre .con_topre nav.gnav_topre ul li.guide_topre nav.medium_topre ul li a span {
    display: block;
    margin-top: 0;
    margin-left: 8px;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li.gnav-select_topre, header.down_topre .container_topre .con_topre nav.gnav_topre ul li.gnav-select_topre {
    border-bottom: solid 2px #B11232;
    transition-duration: 0.2s;
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li.gnav-select_topre nav.medium-select_topre, header.down_topre .container_topre .con_topre nav.gnav_topre ul li.gnav-select_topre nav.medium-select_topre {
    display: block;
    animation: open_topre 0.2s forwards;
  }
  @keyframes open_topre {
    from {
      opacity: 0;
    }
    to {
      opacity: 100%;
    }
  }
  header.top_topre .container_topre .con_topre nav.gnav_topre ul li.gnav-select_topre nav.medium-select_topre ul li nav.small-select_topre, header.down_topre .container_topre .con_topre nav.gnav_topre ul li.gnav-select_topre nav.medium-select_topre ul li nav.small-select_topre {
    display: block;
  }
  header.top_topre .container_topre .con_topre nav.search-nav_topre, header.down_topre .container_topre .con_topre nav.search-nav_topre {
    width: 343px;
    border-top: none;
    padding: 0 0 0 0;
    margin-left: 70px;
    display: flex !important;
    align-items: center;
  }
  header.top_topre .container_topre .con_topre nav.search-nav_topre .category_topre, header.down_topre .container_topre .con_topre nav.search-nav_topre .category_topre {
    width: 100px;
    height: 36px;
    border-radius: 4px;
    margin-top: initial;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header.top_topre .container_topre .con_topre nav.search-nav_topre .category_topre select, header.down_topre .container_topre .con_topre nav.search-nav_topre .category_topre select {
    width: 100%;
    height: 100%;
    background-color: #F1F1F4;
    padding: 0 24px;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 100%;
  }
  header.top_topre .container_topre .con_topre nav.search-nav_topre .category_topre img, header.down_topre .container_topre .con_topre nav.search-nav_topre .category_topre img {
    display: none;
  }
  header.top_topre .container_topre .con_topre nav.search-nav_topre .keyword_topre, header.down_topre .container_topre .con_topre nav.search-nav_topre .keyword_topre {
    width: 223px;
    height: 36px;
    border-radius: 4px;
    background-color: #F1F1F4;
    margin-top: initial;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header.top_topre .container_topre .con_topre nav.search-nav_topre .keyword_topre img, header.down_topre .container_topre .con_topre nav.search-nav_topre .keyword_topre img {
    width: 24px;
    height: 24px;
    margin-left: 12px;
  }
  header.top_topre .container_topre .con_topre nav.search-nav_topre .keyword_topre input, header.down_topre .container_topre .con_topre nav.search-nav_topre .keyword_topre input {
    display: block;
    width: calc(100% - 24px);
    height: 100%;
    background-color: #F1F1F4;
    padding-left: 10px;
    display: flex;
    align-items: center;
  }
  header.top_topre .container_topre .con_topre nav.mnav_topre, header.down_topre .container_topre .con_topre nav.mnav_topre {
    margin-right: 80px !important;
    margin-left: 24px;
  }
  header.top_topre .container_topre .con_topre nav.mnav_topre ul, header.down_topre .container_topre .con_topre nav.mnav_topre ul {
    height: 100%;
  }
  footer.top_topre {
    padding-bottom: 64px;
    margin-top: 64px;
  }
  footer.top_topre nav.f-nav_topre ul li a {
    flex-direction: row;
  }
  footer.top_topre .container_topre {
    width: calc(100% - 160px);
    margin: 64px auto 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: end;
  }
  footer.top_topre .container_topre .con_topre:nth-of-type(1) {
    width: 372px;
    height: fit-content;
    margin: 0 0 0 0;
  }
  footer.top_topre .container_topre .con_topre:nth-of-type(1) p {
    font-size: 16px;
  }
  footer.top_topre .container_topre .con_topre:nth-of-type(1) div span {
    font-size: 28px;
  }
  footer.top_topre .container_topre .con_topre:nth-of-type(1) p:nth-of-type(2) {
    font-size: 14px;
  }
  footer.top_topre .container_topre .sns-nav_topre {
    margin: 0 0 0 0;
  }
  footer.top_topre .container_topre .info-nav_topre {
    margin: 24px 0 0 0;
  }
  footer.top_topre .container_topre .info-nav_topre ul {
    display: flex;
    align-items: center;
  }
  footer.top_topre .container_topre .info-nav_topre ul li {
    margin-top: 0;
    margin-left: 24px;
  }
  footer.top_topre .container_topre .info-nav_topre ul li:nth-of-type(1) {
    margin-left: 0;
  }
  footer.top_topre .container_topre small {
    margin: 24px 0 0 0;
  }
}