html.topre * {
  font-family: "yu-gothic-pr6n", sans-serif;
  font-weight: 400;
  color: #414143;
  letter-spacing: 0.04em;
  line-height: 150%;
}

html, body {
  width: 100vw;
  overflow-x: hidden;
}

header, footer, main, section, a, img {
  width: 100%;
}

a {
  height: 100%;
}

img {
  max-width: 100%;
  object-fit: cover;
}

header {
  position: fixed;
  top: 0;
  left: 0;
}
header p {
  padding: 7px 0;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 100%;
  text-align: center;
}
header p span:nth-of-type(1) {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 100%;
}
header p span:nth-of-type(2) {
  font-weight: 700;
  color: #B11232;
  letter-spacing: 0;
  line-height: 100%;
}
header .con_topre {
  height: 56px;
  border-top: solid 1px #D8D8DB;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .con_topre h1 {
  width: 119px;
  height: 32px;
  margin-left: 16px;
}
header .con_topre h1 a {
  display: block;
}
header .con_topre nav {
  margin-right: 16px;
}
header .con_topre nav ul {
  display: flex;
  align-items: center;
}
header .con_topre nav ul li {
  margin-left: 8px;
}
header .con_topre nav ul li a {
  display: block;
}
header .con_topre nav ul li a img {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}
header .con_topre nav ul li a span {
  display: block;
  font-size: 8px;
  letter-spacing: -0.05em;
  line-height: 100%;
  text-align: center;
}
header .con_topre nav ul li:nth-of-type(1) {
  margin-left: 0;
}
header .con_topre nav ul li.drawerbutton_topre img {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}
header .con_topre nav ul li.drawerbutton_topre span {
  display: block;
  font-size: 8px;
  letter-spacing: -0.05em;
  line-height: 100%;
  text-align: center;
}
header .search-nav_topre {
  border-top: solid 1px #D8D8DB;
  padding: 0 16px 8px 16px;
  display: flex;
  justify-content: space-between;
}
header .search-nav_topre .category_topre {
  width: 26.7vw;
  height: 36px;
  border-radius: 4px;
  background-color: #F1F1F4;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .search-nav_topre .category_topre select {
  width: 65px;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 100%;
}
header .search-nav_topre .category_topre img {
  width: 24px;
  height: 24px;
}
header .search-nav_topre .keyword_topre {
  width: 62.1vw;
  height: 36px;
  border-radius: 4px;
  background-color: #F1F1F4;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .search-nav_topre .keyword_topre img {
  width: 24px;
  height: 24px;
  margin-left: 12px;
}
header .search-nav_topre .keyword_topre input {
  display: block;
  width: calc(100% - 24px);
  height: 100%;
  background-color: #F1F1F4;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

nav.drawer_topre {
  width: 100%;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100vw);
  z-index: 9998;
  transition-duration: 0.5s;
}
nav.drawer_topre ul.guide_topre {
  height: 80px;
  border-top: solid 1px #D8D8DB;
  border-bottom: solid 1px #D8D8DB;
  background-color: #F1F1F4;
  margin-top: 136px;
  display: flex;
}
nav.drawer_topre ul.guide_topre li {
  width: 33.3333333333%;
  height: 100%;
  border-left: solid 1px #D8D8DB;
}
nav.drawer_topre ul.guide_topre li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
nav.drawer_topre ul.guide_topre li a img {
  width: 24px;
  height: 24px;
}
nav.drawer_topre ul.guide_topre li a span {
  margin-top: 4px;
  font-family: "yu-mincho-pr6n", sans-serif;
  font-size: 12px;
}
nav.drawer_topre ul.guide_topre li:nth-of-type(1) {
  border-left: none;
}
nav.drawer_topre ul.category_topre {
  height: calc(100vh - 216px);
  overflow-y: auto;
}
nav.drawer_topre ul.category_topre li .large_topre {
  height: 72px;
  border-bottom: solid 1px #D8D8DB;
  display: flex;
  align-items: center;
  position: relative;
}
nav.drawer_topre ul.category_topre li .large_topre img {
  width: auto;
  height: 60px;
  margin-left: 16px;
  object-fit: initial;
}
nav.drawer_topre ul.category_topre li .large_topre span:nth-of-type(1) {
  margin-left: 12px;
  font-family: "yu-mincho-pr6n", sans-serif;
  font-size: 16px;
  line-height: 100%;
}
nav.drawer_topre ul.category_topre li .large_topre span:nth-of-type(2) {
  font-size: 24px;
  line-height: 100%;
  position: absolute;
  top: 50%;
  right: 22.5px;
  transform: translateY(-50%);
}
nav.drawer_topre ul.category_topre li ul.small_topre {
  display: none;
}
nav.drawer_topre ul.category_topre li ul.small_topre li {
  height: 52px;
  border-top: solid 1px #D8D8DB;
  background-color: #F1F1F4;
}
nav.drawer_topre ul.category_topre li ul.small_topre li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav.drawer_topre ul.category_topre li ul.small_topre li a span {
  display: block;
  font-family: "yu-mincho-pr6n", sans-serif;
  transform: translateX(16px);
}
nav.drawer_topre ul.category_topre li ul.small_topre li a img {
  display: block;
  width: 24px;
  height: 24px;
  transform: translateX(-16px);
}
nav.drawer_topre ul.category_topre li ul.small_topre li:nth-last-of-type(1) {
  border-bottom: solid 1px #D8D8DB;
}
nav.drawer_topre ul.category_topre li.open_topre ul.small_topre {
  display: block;
}

nav.open_topre {
  transform: translateX(0);
}

footer {
  background-color: #F1F1F4;
  margin-top: 40px;
  padding-bottom: 40px;
}
footer nav.f-nav_topre ul {
  height: 80px;
  border-top: solid 1px #D8D8DB;
  border-bottom: solid 1px #D8D8DB;
  display: flex;
}
footer nav.f-nav_topre ul li {
  width: 33.3333333333%;
  height: 100%;
  border-left: solid 1px #D8D8DB;
}
footer nav.f-nav_topre ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer nav.f-nav_topre ul li a img {
  width: 24px;
  height: 24px;
}
footer nav.f-nav_topre ul li a span {
  margin-top: 4px;
  font-family: "yu-mincho-pr6n", sans-serif;
  font-size: 12px;
}
footer nav.f-nav_topre ul li:nth-of-type(1) {
  border-left: none;
}
footer .con_topre {
  width: calc(100% - 32px);
  background-color: #FFFFFF;
  padding-bottom: 8px;
  margin: 40px auto 0 auto;
}
footer .con_topre p {
  margin-top: 4px;
  text-align: center;
}
footer .con_topre p:nth-of-type(1) {
  padding-top: 8px;
  margin-top: 0;
  font-family: "yu-mincho-pr6n", sans-serif;
}
footer .con_topre div {
  margin-top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .con_topre div img {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}
footer .con_topre div span {
  font-family: "roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
}
footer .con_topre p:nth-of-type(2) {
  font-family: "roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
}
footer .sns-nav_topre {
  margin: 24px 0 0 16px;
}
footer .sns-nav_topre ul {
  display: flex;
}
footer .sns-nav_topre ul li {
  margin-left: 24px;
}
footer .sns-nav_topre ul li a {
  display: block;
  width: 32px;
  height: 32px;
}
footer .sns-nav_topre ul li:nth-of-type(1) {
  margin-left: 0;
}
footer .info-nav_topre {
  margin: 24px 0 0 16px;
}
footer .info-nav_topre ul li {
  margin-top: 8px;
}
footer .info-nav_topre ul li a {
  font-size: 12px;
  letter-spacing: 0;
}
footer .info-nav_topre ul li:nth-of-type(1) {
  margin-top: 0;
}
footer small {
  display: block;
  margin: 24px 0 0 16px;
  font-size: 10px;
  color: #B4B4B7;
}