$white: #FFFFFF;
$black: #414143;
$red: #B11232;
$grey: #F1F1F4;
$yellow: #FFD327;
$beige: #EDE1B3;
$border-color: #D8D8DB;

$font1: "yu-gothic-pr6n", sans-serif;
$font2: "roboto", sans-serif;
$font3: "yu-mincho-pr6n", sans-serif;

html.topre {

    * {
        font-family: $font1;
        font-weight: 400;
        color: $black;
        letter-spacing: .04em;
        line-height: 150%;
    }
}

html, body {
    width: 100vw;
    overflow-x: hidden;
}

header, footer, main, section, a, img {
    width: 100%;
}

a {
    height: 100%;
}

img {
    max-width: 100%;
    object-fit: cover;
}

button {
    display: block;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin absolute {
    position: absolute;
    top: 0;
    left: 0;
}

@mixin fixed {
    position: fixed;
    top: 0;
    left: 0;
}

@mixin font-s {
    font-size: 12px;
}

@mixin h2 {
    margin-left: 16px;
    font-family: $font3;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0;
}
