@import './base';

.category-title {

    .list-head-sort {

        dt {
            font-size: 14px;
        }

        dd {
            margin-left: 16px;

            a {
                font-size: 14px;
            }
        }

        dd.select_topre {

            a {
                border-radius: 50px;
                background-color: $black;
                padding: 2px 16px;
                color: $white;
            }
        }
    }
}

.pager-wrap {

    ul.pager {

        li {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            margin-right: 0;
            margin-left: 16px;
            display: flex;
            align-items: center;

            a {
                display: block;
                width: 100%;
                height: 100%;

                span {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    @include center;
                    font-size: 16px;
                }
            }

            span.current {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: $black;
                @include center;
                font-size: 16px;
                color: $white;
            }
        }

        li:nth-of-type(1) {
            margin-left: 0;
        }

        li:nth-last-of-type(1) {
            width: auto;
        }
    }
}

.modal-open {
    align-items: center;

    a.add-cart-btn {
        border-radius: 50px !important;
        background-color: $red !important;
        display: flex !important;
        justify-content: center;
        align-items: center;

        img {
            display: block;
            width: 24px;
            height: 24px;
            margin-right: 16px;
        }
    }

    .favorite {
        width: 45px;
        height: 40px;
        display: block !important;
        border: solid 1px #B4B4B7;
        border-radius: 50%;
        margin-left: 8px;

        a {
            width: 100%;
            height: 100%;
            display: flex !important;
            justify-content: center;
            align-items: center;

            &::after {
                display: none !important;
            }

            img {
                display: block;
                width: 24px;
                height: 24px;
            }
        }
    }
}

.category_topre, .search_topre {
    padding: 0 0 0 0;
    margin-top: 19px;

    .breadcrumb {
        margin-bottom: 0;
        margin-left: 16px;
    }

    .container {
        margin-top: 19px;

        main.main {

            section.main-section {

                .fv_topre {
                    display: none;
                    height: 126px;
                }

                .category-title {
                    width: calc(100vw - 32px);
                    margin: 40px auto 0 auto;
                    display: flex;
                    justify-content: space-between;

                    .category-select, .list-head-sort {
                        height: 32px;
                        border-radius: 4px;
                        background-color: $grey;
                        @include center;

                        select {
                            width: fit-content;
                            padding: 0;

                            option {
                                @include font-s;
                            }
                        }

                        img {
                            width: 16px;
                            height: 16px;
                        }
                    }

                    .category-select {
                        width: 56%;

                        img {
                            margin-left: 4px;
                        }
                    }

                    .list-head-sort {
                        width: 42.2%;

                        img {
                            margin-right: 4px;
                        }
                    }
                }

                p.total-count {
                    margin: 16px 0 0 16px;
                    font-size: 12px;

                    span {
                        font-family: $font2;
                        font-size: 16px;
                        font-weight: 700;
                    }
                }

                ul.item-list {
                    width: calc(100vw - 32px);
                    margin: 40px auto 0 auto;
                    justify-content: space-between;

                    li {
                        width: calc((100% - 16px) / 2);
                        margin: 40px 0 0 16px;

                        .item-icon {

                            p.item-soldout {
                                color: $white;
                            }
                        }

                        .item-list-review {
                            margin-top: 8px;
                        }

                        p.item-name {
                            margin-top: 4px;
                            font-weight: 700;
                        }

                        .con_topre {
                            display: flex;
                            justify-content: space-between;
                            align-items: end;

                            a {
                                width: auto;
                            }

                            .text_topre {

                                p {
                                    font-size: 12px;

                                    span {
                                        font-size: 16px;
                                        font-weight: 700;
                                    }
                                }

                                p.sale-discount-rate {
                                    color: $red !important;
                                }
                            }

                            .favorite_topre {
                                margin-top: 8px;

                                a {
                                    width: 40px;
                                    height: 40px;
                                    border: solid 1px #757578;
                                    border-radius: 50%;
                                    @include center;
                                    
                                    img {
                                        width: 24px !important;
                                        height: 24px !important;
                                        margin-bottom: 0 !important;
                                    }
                                }

                                a:nth-of-type(1) {
                                    display: none;
                                }

                                a.hide {
                                    display: none;

                                    img {
                                        width: 24px;
                                        height: 24px;
                                        margin-bottom: 0;
                                    }
                                }

                                a.favorite-on {
                                    border: solid 1px #B8243F;
                                }
                            }
                        }
                    }

                    li:nth-of-type(odd) {
                        margin: 40px 0 0 0;
                    }

                    li:nth-of-type(1) {
                        margin: 0 0 0 0;
                    }

                    li:nth-of-type(2) {
                        margin: 0 0 0 16px;
                    }
                }

                .pager-wrap {
                    width: fit-content;
                    margin: 48px auto 0 auto;

                    ul.pager {
                        position: relative;

                        img.prev_topre, img.next_topre {
                            width: 24px;
                            height: 24px;
                            position: absolute;
                            top: 50%;
                        }

                        img.prev_topre {
                            left: -24px;
                            transform: translate(-100%, -50%);
                        }

                        img.next_topre {
                            right: -24px;
                            transform: translate(100%, -50%);
                        }

                        img.off_topre {
                            opacity: .5;
                        }

                        li:nth-last-of-type(1) {
                            width: 24px;
                        }
                    }
                }
            }
        }
    }
}

.detail {

    h1.item-name_topre {
        font-size: 20px;
        font-weight: 700;
    }

    span.price1_topre {
        font-size: 14px !important;
        font-weight: 500 !important;
    }

    span.price2_topre {
        font-size: 24px !important;
        font-weight: 700 !important;
    }

    .postage_copy {

        p {
            font-weight: 500 !important;
        }
    }

    h3.item-new {
        font-weight: 700 !important;
    }

    p.item-new {
        font-weight: 500 !important;
    }

    .favorite_topre {
        margin-left: 4px;

        a {
            width: 40px;
            height: 40px;
            border: solid 1px #757578;
            border-radius: 50%;
            @include center;
            
            img {
                width: 24px !important;
                height: 24px !important;
                margin-bottom: 0 !important;
            }
        }

        a.hide {
            display: none;

            img {
                width: 24px;
                height: 24px;
                margin-bottom: 0;
            }
        }

        a.favorite-on {
            border: solid 1px #B8243F;
        }
    }

    .item-review {

        .review_topre {
            display: flex;

            a {
                width: fit-content;
            }
        }
    }

    .reviewRateStar.starOn::before {
        color: $yellow;
    }

    .item-quantity {
        margin-top: 15px;
    }
}

section.group-review-section {

    .item-review-detail {

        h2 {
            font-family: $font3;
            font-size: 20px;
        }
    }

    .reviewRateStar::before {
        color: $yellow;
    }
}

.group-item-section {

    h2.group-item-title {
        font-family: $font3 !important;
        font-size: 24px !important;
    }

    p.item-name {
        margin-top: 4px;
        font-weight: 700;
    }

    .review_topre {
        margin-top: 4px;
        display: flex;

        a {
            width: fit-content;
        }
    }

    .reviewRateStar::before {
        color: $yellow;
    }

    .price {
        font-size: 12px;

        span {
            font-size: 16px;
        }
    }
}

.checked-contents {

    h2 {
        font-family: $font3 !important;
        font-size: 24px;
    }

    p.price.item-sale-price, p.price.item-sale-price span {
        color: $red;
    }

    .reviewRateStar::before {
        color: $yellow;
    }

    .review_topre {
        display: flex;

        a {
            width: fit-content;
        }
    }

    p.item-name {
        margin-top: 4px;

        a {
            font-weight: 700;
        }
    }

    p.price_topre {
        margin-top: 4px;
    }

    p.price {
        font-size: 12px;

        span {
            font-size: 16px;
        }
    }

    p.sale-discount-rate {
        color: $red;
    }

    .item-icon {
        top: 0;
        right: initial;

        p {
            @include font-s;
            color: $white;
            line-height: 145%;
        }
    }
}

ul.checked-item-list {

    li {

        ul.item-list-icon {

            li {
                width: auto;
            }
        }
    }
}

section.ks-items {

    nav.flex_topre {
        width: calc(100% - 32px);
        margin: 40px auto 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .list-head-sort {
            height: 32px;
            border-radius: 4px;
            background-color: $grey;
            margin:  0 0 0 0 !important;
            @include center;

            img {
                margin-left: 12px;
            }

            select {
                width: fit-content;
                padding: 0;

                option {
                    @include font-s;
                }
            }

            img {
                width: 16px;
                height: 16px;
            }
        }

        p.total-count {
            margin: 0 0 0 0;
        }
    }

    .item-list-icon {

        li {
            width: 100% !important;
        }
    }

    .favorite_topre {
        margin-top: 8px;
        border: none !important;

        a {
            width: 40px;
            height: 40px;
            border: solid 1px #757578;
            border-radius: 50%;
            @include center;
            
            img {
                width: 24px !important;
                height: 24px !important;
                margin-bottom: 0 !important;
            }
        }

        a:nth-of-type(1) {
            display: none;
        }

        a.hide {
            display: none;

            img {
                width: 24px;
                height: 24px;
                margin-bottom: 0;
            }
        }

        a.favorite-on {
            border: solid 1px #B8243F;
        }
    }
}

@media screen and (min-width: 768px) {
    
    .modal-open {

        a.add-cart-btn {
            width: 375px;
        }

        .favorite {
            width: 40px;
        }
    }

    .category_topre, .search_topre {

        .container {
            margin-top: 17.5px;

            main.main {

                section.main-section {

                    .fv_topre {
                        height: 430px;
                    }

                    .flex_topre {
                        height: 40px;
                        display: flex;
                        justify-content: space-between;
                        align-items: end;

                        .category-title {
                            width: initial;
                            margin: 0 0 0 0;
                            justify-content: initial;

                            h2 {
                                margin-top: 0 !important;
                            }

                            .category-select, .list-head-sort {

                                select {
                                    background-color: transparent;
                                }
                            }
                            
                            .category-select {
                                width: 208px;

                                img {
                                    display: none;
                                }
                            }

                            .list-head-sort {
                                width: 138px;
                                margin-left: 8px;
                            }
                        }
                    }

                    ul.item-list {
                        width: calc(100vw - 160px);
                        justify-content: initial;

                        li {
                            width: calc((100% - 48px) / 4);

                            ul.item-list-icon {

                                li {
                                    width: 100px;

                                    img {
                                        width: 100px;
                                    }
                                }
                            }

                            p.item-name {
                                font-size: 16px;
                            }
                        }

                        li:nth-of-type(odd) {
                            margin: 40px 0 0 16px;
                        }

                        li:nth-of-type(2), li:nth-of-type(3), li:nth-of-type(4) {
                            margin: 0 0 0 16px;
                        }

                        li:nth-of-type(4n+1) {
                            margin: 40px 0 0 0;
                        }

                        li:nth-of-type(1) {
                            margin: 0 0 0 0 !important;
                        }
                    }
                }
            }
        }
    }

    .detail {

        h2.item-category-name {

            a {
                font-size: 18px;
            }
        }

        h1.item-name_topre {
            font-size: 24px;
        }

        span.price1_topre {
            font-size: 16px !important;
        }

        span.price2_topre {
            font-size: 28px !important;
        }
    }

    section.group-review-section {

        .item-review-detail {

            h2 {
                font-size: 24px;
            }
        }
    }

    .group-item-section {

        h2.group-item-title {
            font-size: 32px !important;
            font-weight: 600 !important;
        }

        ul.group-item-list {

            li {
                width: 125px;

                .reviewRateStar::before {
                    color: $yellow;
                }
            }
        }
    }

    .checked-contents {

        h2 {
            font-size: 32px;
            font-weight: 600;
        }

        .item-icon {

            p {
                font-size: 14px;
            }
        }
    }
}

section.ks-items {

    dl.list-head-sort {
        display: none;
    }

    p.total-count {
        margin: 40px 0 0 16px;
        font-size: 12px;

        span {
            font-family: $font2;
            font-size: 16px;
            font-weight: 700;
        }
    }

    ul.item-list {
        width: calc(100vw - 32px);
        margin: 40px auto 0 auto;
        justify-content: space-between;

        li {
            width: calc((100% - 16px) / 2);
            margin: 40px 0 0 16px;

            .item-list-review {
                margin-top: 8px;
            }

            p.item-name {
                margin-top: 4px;
                font-weight: 700;
            }

            .con_topre {
                display: flex;
                justify-content: space-between;
                align-items: end;

                .text_topre {

                    p {
                        font-size: 12px;

                        span {
                            font-size: 16px;
                            font-weight: 700;
                        }
                    }

                    p.sale-discount-rate {
                        color: $red !important;
                    }
                }

                .favorite_topre {
                    width: 40px;
                    height: 40px;
                    border: solid 1px #757578;
                    border-radius: 50%;
                    margin-top: 8px;
                    @include center;

                    img {
                        width: 24px;
                        height: 24px;
                        margin-bottom: 0;
                    }
                }
            }
        }

        li:nth-of-type(odd) {
            margin: 40px 0 0 0;
        }

        li:nth-of-type(1) {
            margin: 0 0 0 0;
        }

        li:nth-of-type(2) {
            margin: 0 0 0 16px;
        }
    }

    .pager-wrap {
        width: fit-content !important;
        margin: 48px auto 0 auto !important;

        ul.pager {
            position: relative;

            img.prev_topre, img.next_topre {
                width: 24px;
                height: 24px;
                position: absolute;
                top: 50%;
            }

            img.prev_topre {
                left: -24px;
                transform: translate(-100%, -50%);
            }

            img.next_topre {
                right: -24px;
                transform: translate(100%, -50%);
            }

            img.off_topre {
                opacity: .5;
            }

            li:nth-last-of-type(1) {
                width: 24px;
            }
        }
    }
}
