html {

    body {

        .breadcrumb {
            margin-left: 16px;
        }

        main.guide_topre {

            h2 {
                margin-left: 16px;
                font-family: "yu-mincho-pr6n", sans-serif;
                font-size: 28px;
            }

            ul {
                margin-top: 16px;

                li {
                    border-top: solid 1px #D8D8DB;

                    span {
                        height: 72px;
                        padding-left: 16px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-family: "yu-gothic-pr6n", sans-serif;
                        font-size: 16px;
                        font-weight: 700;

                            span {
                                display: block;
                                width: auto;
                                height: auto;
                                margin-right: 16px;
                            }
                    }

                    ul {
                        max-height: 0;
                        margin-top: 0;
                        overflow: hidden;

                        li {
                            height: 52px;
                            margin-left: 0;
                            border-top: solid 1px #D8D8DB;
                            background-color: #F1F1F4;

                            a {
                                padding-left: 16px;
                                display: flex;
                                align-items: center;
                                font-family: "yu-gothic-pr6n", sans-serif;

                                img {
                                    margin-left: 12px;
                                    display: block;
                                    width: 16px;
                                    height: 16px;
                                }
                            }
                        }
                    }
                }

                li.open_topre {

                    ul {
                        max-height: 100vh;
                        transition-duration: 1s;
                        transition-timing-function: ease-in;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    
    html {

        body {
            overflow-x: initial;

            .breadcrumb {
                margin-top: 17.5px;
                margin-left: 80px;
            }

            main.guide_topre {
                margin-top: 33.5px;

                h2 {
                    margin-left: 80px;
                    font-size: 32px;
                }

                .container {
                    width: calc(100vw - 160px);
                    margin: 40px auto 0 auto;
                    display: flex;
                    justify-content: space-between;

                    ul {
                        width: 53vw;
                        margin-top: 0;

                        li {

                            span {
                                height: 80px;
                                padding-left: 24px;
                                font-size: 18px;

                                span {
                                    height: auto;
                                    margin-right: 24px;
                                }
                            }
                        }

                        li:nth-last-of-type(1) {
                            border-bottom: solid 1px #D8D8DB;
                        }
                    }

                    button {
                        width: 31vw;
                        height: 56px;
                        border-radius: 50px;
                        background-color: #414143;
                        position: sticky;
                        top: 310px;

                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-family: "yu-mincho-pr6n", sans-serif;
                            font-size: 18px;
                            color: #F1F1F4;

                            img {
                                width: 24px;
                                height: 24px;
                                margin-right: 10px;
                                filter: invert(1);
                            }
                        }
                    }
                }
            }
        }
    }
}
