@import './base';
@import './template';

html {

    body {

        .fv_topre {
            width: 100vw;

            .mv_topre {
                height: 100vw;

                button.slick-prev, button.slick-next {
                    width: 24px;
                    height: 24px;
                    top: 100vw;
                    transform: rotate(0);

                    &::before {
                        border-top: none;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        right: initial;
                        left: 0;
                        transform: translate(0, 0) rotate(0);
                        opacity: 1;
                    }
                }

                button.slick-prev {
                    left: 25px;

                    &::before {
                        border-right: none;
                        background-image: url('https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/mv/prev-icon.svg');
                    }
                }

                button.slick-next {
                    right: 25px;

                    &::before {
                        border-left: none;
                        background-image: url('https://gigaplus.makeshop.jp/kitanoace/19_top-renewal/assets/img/template/mv/next-icon.svg');
                    }
                }

                ul.slick-dots {
                    bottom: initial;

                    li {
                        width: 28px;
                        height: 2px;
                        transform: translateY(-4px);

                        button {
                            width: 28px;
                            height: 2px;
                            padding: 0;

                            &::before {
                                width: 100%;
                                height: 100%;
                                background-color: #757578;
                                font-family: initial;
                            }
                        }
                    }
                }
            }

            nav.icon_topre {
                padding: 0 16px;
                margin-top: 24px;
                white-space: nowrap;
                overflow-x: scroll;

                ul {
                    width: fit-content;
                    display: flex;

                    li {
                        width: 80px;
                        height: 88px;
                        margin-left: 4px;

                        a {

                            img {
                                display: block;
                                width: 48px;
                                height: 48px;
                                margin: 0 auto;
                            }

                            span {
                                margin-top: 8px;
                                display: block;
                                font-family: $font3;
                                @include font-s;
                                font-weight: 700;
                                letter-spacing: 0;
                                line-height: 100%;
                                text-align: center;
                            }
                        }

                        img {
                            display: block;
                            width: 48px;
                            height: 48px;
                            margin: 0 auto;
                        }

                        span {
                            margin-top: 8px;
                            display: block;
                            font-family: $font3;
                            @include font-s;
                            font-weight: 700;
                            letter-spacing: 0;
                            line-height: 100%;
                            text-align: center;
                        }
                    }

                    li:nth-of-type(1) {
                        margin-left: 0;
                    }
                }
            }
        }

        main.top_topre {
            margin-top: 16px;

            section.lp_topre, section.category_topre, section.ranking_topre, section.new_topre, section.recommend_topre, section.review_topre, section.check_topre {

                h2 {
                    @include h2;
                }

                ul.open_topre {

                    li:nth-of-type(n+4) {
                        display: block;
                    }
                }

                button.open_topre {
                    display: none;
                }
            }

            section.lp_topre {
                background-color: $grey;
                padding-bottom: 40px;

                h2 {
                    padding-top: 40px;
                }

                ul {
                    padding: 0 16px;
                    margin-top: 16px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    li {
                        width: calc((100vw - (16px * 3)) / 2);
                        margin-top: 16px;
                        
                        a {
                            display: block;

                            img {
                                height: calc((100vw - (16px * 3)) / 2);
                            }

                            h3 {
                                margin-top: 4px;
                                font-family: $font3;
                                font-weight: 700;
                            }
                        }
                    }

                    li:nth-of-type(1), li:nth-of-type(2) {
                        margin-top: 0;
                    }
                }

                button {
                    display: block;
                    width: calc(100% - 32px);
                    height: 52px;
                    border-radius: 50px;
                    background-color: $black;
                    padding: 0;
                    margin: 16px auto 0 auto;

                    a {
                        @include center;
                        font-family: $font3;
                        font-size: 16px;
                        font-weight: 700;
                        color: $white;
                        letter-spacing: 0;
                    }
                }
            }

            section.category_topre {
                margin-top: 40px;

                ul {
                    width: calc(100vw - 32px);
                    margin: 16px auto 0 auto;
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        width: calc(100% / 2);
                        height: 80px;
                        margin-top: 4px;

                        a {
                            display: flex;
                            align-items: center;

                            img {
                                width: 60px;
                                height: 60px;
                                margin-left: 8px;
                            }

                            h3 {
                                margin-left: 4px;
                                font-family: $font3;
                                @include font-s;
                                font-weight: 700;
                            }
                        }
                    }

                    li:nth-of-type(1), li:nth-of-type(2) {
                        margin-top: 0;
                    }
                }
            }

            section.ranking_topre {
                margin-top: 80px;

                ul {
                    width: calc(100vw - 32px);
                    margin: calc(24px + 40px) auto 0 auto;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    li {
                        width: calc((100% - 16px) / 2);
                        margin-top: calc(24px + 40px);
                        position: relative;

                        p.ranking-icon_topre {
                            width: 32px;
                            height: 26px;
                            @include center;
                            font-family: $font2;
                            color: $white;
                            letter-spacing: 0;
                            line-height: 100%;
                            position: absolute;
                            top: 0;
                            left: 50%;
                            transform: translate(-50%, -100%);

                            img {
                                height: 100%;
                                position: absolute;
                                top: -4px;
                                left: 0;
                                z-index: -1;
                            }
                        }

                        p.status_topre {
                            background-color: $red;
                            color: $white;
                            @include absolute;
                        }

                        a.image_topre {
                            display: block;
                            height: calc(((100vw - 32px) - 16px) / 2);

                            img {
                                height: initial;
                            }
                        }

                        ul.icon_topre {
                            height: 17.5px;
                            margin-top: 4px;

                            li {
                                height: 100%;
                                margin: 0 0 0 0;

                                img {
                                    width: auto;
                                    height: 100%;
                                }
                            }
                        }

                        .review_topre {
                            display: flex;
                            align-items: center;

                            .reviewRate {

                                .reviewRateStar {
                                    
                                    &::before {
                                        @include font-s;
                                        color: $yellow;
                                    }
                                }
                            }

                            a {
                                width: initial;
                                @include font-s;
                                transform: translateY(1.5px);
                            }
                        }

                        h3 {
                            margin-top: 4px;
                            
                            a {
                                font-weight: 700;
                            }
                        }

                        p.price_topre {
                            margin-top: 4px;
                            @include font-s;

                            span {
                                font-size: 16px;
                                font-weight: 700;
                            }
                        }
                    }

                    li:nth-of-type(1), li:nth-of-type(2) {
                        margin-top: 0;
                    }

                    li:nth-of-type(n+5) {
                        width: calc((100% - 24px) / 3);

                        a.image_topre {
                            height: calc(((100vw - 16px) - 24px) / 3);
                        }

                        .review_topre {
                            display: flex;
                            align-items: center;

                            .reviewRate {

                                .reviewRateStar {
                                    
                                    &::before {
                                        font-size: 10px;
                                        color: $yellow;
                                    }
                                }
                            }

                            a {
                                width: initial;
                                font-size: 10px;
                                transform: translateY(1.5px);
                            }
                        }
                    }
                }
            }

            section.new_topre, section.recommend_topre, section.check_topre {
                margin-top: 48px;

                ul {
                    width: calc(100vw - 32px);
                    margin: 24px auto 0 auto;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    li {
                        width: calc((100% - 24px) / 2);
                        margin-top: 24px;
                        position: relative;   

                        a.image_topre {
                            display: block;
                            height: calc(((100vw - 32px) - 24px) / 2);

                            img {
                                height: initial;
                            }
                        }

                        ul.icon_topre {
                            height: 17.5px;
                            margin-top: 4px;

                            li {
                                height: 100%;
                                margin: 0 0 0 0;

                                img {
                                    width: auto;
                                    height: 100%;
                                }
                            }
                        }

                        .review_topre {
                            display: flex;
                            align-items: center;

                            .reviewRate {

                                .reviewRateStar {
                                    
                                    &::before {
                                        @include font-s;
                                        color: $yellow;
                                    }
                                }
                            }

                            a {
                                width: initial;
                                @include font-s;
                                transform: translateY(1.5px);
                            }
                        }

                        h3 {
                            margin-top: 4px;
                            
                            a {
                                font-weight: 700;
                            }
                        }

                        p.price_topre {
                            margin-top: 4px;
                            @include font-s;

                            span {
                                font-size: 16px;
                                font-weight: 700;
                            }
                        }
                    }

                    li:nth-of-type(1), li:nth-of-type(2) {
                        margin-top: 0;
                    }
                }

                button {
                    display: block;
                    width: 38.9vw;
                    height: 40px;
                    border: solid 1px $black;
                    border-radius: 50px;      
                    background-color: transparent;  
                    padding: 0;           
                    margin: 24px auto 0 auto;
                    @include center;
                    font-family: $font3;
                    font-size: 14px;
                    font-weight: 700;
                    letter-spacing: 0;

                    img {
                        width: 20px;
                        height: 20px;
                        margin-right: 8px;
                    }
                }
            }

            section.new_topre, section.recommend_topre {

                ul {

                    li:nth-of-type(n+5) {
                        display: none;
                    }
                }
            }

            section.recommend_topre {
                margin-top: 56px;
            }

            section.review_topre {
                margin-top: 56px;

                ul {
                    width: calc(100vw - 32px);
                    margin: 16px auto 0 auto; 

                    li {
                        border-top: solid 1px $border-color;
                        padding: 16px 0;

                        a {
                            display: block;

                            p {                        
                                display: flex;
                                align-items: center;
                                @include font-s;
                                letter-spacing: 0;

                                span {
                                    letter-spacing: 0;
                                }
                            }

                            .container_topre {
                                margin-top: 8px;
                                display: flex;

                                img {
                                    width: 80px;
                                    height: 80px;
                                }

                                .con_topre {
                                    padding-left: 8px;

                                    .reviewRate {

                                        .reviewRateStar {
                                            
                                            &::before {
                                                color: $yellow;
                                            }
                                        }
                                    }

                                    h3 {
                                        margin-top: 4px;
                                        font-weight: 700;
                                    }

                                    p {
                                        margin-top: 4px;
                                    }
                                }
                            }
                        }
                    }

                    li:nth-of-type(1) {
                        border-top: none;
                        padding: 0 0 16px 0;
                    }

                    li:nth-last-of-type(1) {
                        padding-bottom: 0;
                    }

                    li:nth-of-type(n+4) {
                        display: none;
                    }
                }

                button {
                    display: block;
                    width: 38.9vw;
                    height: 40px;
                    border: solid 1px $black;
                    border-radius: 50px;      
                    background-color: transparent;  
                    padding: 0;           
                    margin: 24px auto 0 auto;
                    @include center;
                    font-family: $font3;
                    font-size: 14px;
                    font-weight: 700;
                    letter-spacing: 0;

                    img {
                        width: 20px;
                        height: 20px;
                        margin-right: 8px;
                    }
                }
            }

            section.check_topre {
                margin-top: 80px;

                ul {
                    width: calc(100vw - 32px);

                    li {
                        width: calc((100% - 16px) / 3);

                        a.image_topre {
                            height: calc(((100vw - 16px) - 16px) / 3);
                        }

                        ul.icon_topre {
                            height: 17.5px;

                            li {
                                height: 100%;

                                img {
                                    width: auto;
                                    height: 100%;
                                }
                            }
                        }

                        .review_topre {

                            .reviewRate {

                                .reviewRateStar {
                                    
                                    &::before {
                                        font-size: 10px;
                                    }
                                }
                            }

                            a {
                                font-size: 10px;
                            }
                        }
                    }

                    li:nth-of-type(1), li:nth-of-type(2), li:nth-of-type(3) {
                        margin-top: 0;
                    }

                    li:nth-of-type(n+7) {
                        display: none;
                    }
                }
            }

            section.search_topre {
                border-top: solid 1px $border-color;
                padding: 40px 0 48px 0;
                margin-top: 40px;

                nav.search-nav_topre {
                    width: calc(100% - 32px);
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;

                    .category_topre {
                        width: 26.7vw;
                        height: 36px;
                        border-radius: 4px;
                        background-color: $grey;
                        margin-top: 8px;
                        @include center;

                        select {
                            width: 65px;
                            background-color: transparent;
                            @include font-s;
                            line-height: 100%;
                        }

                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }

                    .keyword_topre {
                        width: 62.1vw;
                        height: 36px;
                        border-radius: 4px;
                        background-color: $grey;
                        margin-top: 8px;
                        @include center;

                        img {
                            width: 24px;
                            height: 24px;
                            margin-left: 12px;
                        }

                        input {
                            display: block;
                            width: calc(100% - 24px);
                            height: 100%;
                            background-color: $grey;
                            padding-left: 10px;
                            display: flex;
                            align-items: center;
                        }
                    }
                }

                h3 {
                    margin-top: 24px;
                    @include font-s;
                    font-weight: 700;
                    text-align: center;
                }

                nav.tag-nav_topre {
                    margin-top: 8px;

                    ul {
                        display: flex;
                        justify-content: center;

                        li {
                            margin-left: 8px;

                            a {
                                border-radius: 20px;
                                background-color: $beige;
                                padding: 4px 8px;
                                @include font-s;
                            }
                        }

                        li:nth-of-type(1) {
                            margin-left: 0;
                        }
                    }
                }
            }

            section.banner_topre {
                border-top: solid 1px $border-color;
                padding-top: 40px;

                ul {
                    width: calc(100vw - 32px);
                    margin: 0 auto;

                    li {
                        margin-top: 16px;

                        a {
                            display: block;
                        }
                    }

                    li:nth-of-type(1) {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

@import './contents';
@import './responsive/template';
@import './responsive/style';
