@import './base';

header.top_topre, header.down_topre {
    position: relative;

    p {
        padding: 7px 0;
        @include font-s;
        letter-spacing: 0;
        line-height: 100%;
        text-align: center;

        span:nth-of-type(1) {
            font-family: $font2;
            font-weight: 700;
            letter-spacing: .04em;
            line-height: 100%;
        }

        span:nth-of-type(2) {
            font-weight: 700;
            color: $red;
            letter-spacing: 0;
            line-height: 100%;
        }
    }

    .container_topre {
        height: 56px;
        border-top: solid 1px $border-color;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            width: 119px;
            height: 32px;
            margin-left: 16px;

            a {
                display: block;
            }
        }

        .con_topre {

            nav.mnav_topre {
                margin-right: 16px;

                ul {
                    display: flex;
                    align-items: center;

                    li {
                        width: 40px;
                        margin-left: 8px;

                        a {
                            display: block;

                            img {
                                display: block;
                                width: 24px;
                                height: 24px;
                                margin: 0 auto;
                            }

                            span {
                                display: block;
                                font-size: 8px;
                                letter-spacing: -.05em;
                                line-height: 100%;
                                text-align: center;
                            }
                        }
                    }

                    li:nth-of-type(1) {
                        margin-left: 0;
                    }

                    li.drawerbutton_topre {

                        img {
                            display: block;
                            width: 24px;
                            height: 24px;
                            margin: 0 auto;
                        }

                        span {
                            display: block;
                            font-size: 8px;
                            letter-spacing: -.05em;
                            line-height: 100%;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    nav.search-nav_topre {
        border-top: solid 1px $border-color;
        padding: 8px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .keyword_topre {
            width: 68vw;
            height: 36px;
            border-radius: 4px;
            background-color: $grey;
            @include center;

            img {
                width: 24px;
                height: 24px;
                margin-left: 12px;
            }

            input {
                display: block;
                width: calc(100% - 24px);
                height: 100%;
                background-color: $grey;
                padding-left: 10px;
                display: flex;
                align-items: center;
            }
        }

        button {
            width: 21.3vw;
            height: 36px;
            border: solid 1px $black;
            border-radius: 50px;
            background-color: transparent;

            a {
                @include center;
                font-family: $font3;
                @include font-s;

                img {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}

header.down_topre {
    @include fixed;
}

header.close_topre {
    transform: translateY(-100%);
}

nav.drawer_topre {
    width: 100%;
    background-color: $white;
    @include fixed;
    transform: translateX(100vw);
    z-index: 9998;
    transition-duration: .5s;

    ul.guide_topre {
        height: 80px;
        border-top: solid 1px $border-color;
        border-bottom: solid 1px $border-color;
        background-color: $grey;
        margin-top: 110px;
        display: flex;

        li {
            width: calc(100% / 3);
            height: 100%;
            border-left: solid 1px $border-color;

            a {
                @include center;
                flex-direction: column;

                img {
                    width: 24px;
                    height: 24px;
                }

                span {
                    margin-top: 4px;
                    font-family: $font3;
                    @include font-s;
                }
            }
        }

        li:nth-of-type(1) {
            border-left: none;
        }
    }

    ul.category_topre {
        height: calc(100vh - 215px);
        margin-top: 0;
        overflow-y: auto;

        li {

            .large_topre {
                height: 72px;
                border-bottom: solid 1px $border-color;
                display: flex;
                align-items: center;
                position: relative;

                img {
                    width: auto;
                    height: 60px;
                    margin-left: 16px;
                    object-fit: initial;
                }

                span:nth-of-type(1) {
                    margin-left: 12px;
                    font-family: $font3;
                    font-size: 16px;
                    line-height: 100%;
                }

                span:nth-of-type(2) {
                    font-size: 24px;
                    line-height: 100%;
                    position: absolute;
                    top: 50%;
                    right: 22.5px;
                    transform: translateY(-50%);
                }

                a {
                    display: flex;
                    align-items: center;
                }
            }

            ul.small_topre {
                display: none;

                li {
                    height: 52px;
                    border-top: solid 1px $border-color;
                    background-color: $grey;

                    a {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        span {
                            display: block;
                            font-family: $font3;
                            transform: translateX(16px);
                        }

                        img {
                            display: block;
                            width: 24px;
                            height: 24px;
                            transform: translateX(-16px);
                        }
                    }
                }

                li:nth-last-of-type(1) {
                    border-bottom: solid 1px $border-color;
                }
            }
        }

        li.open_topre {

            ul.small_topre {
                display: block;
            }
        }

        li.height_topre {
            height: 100px; 
        }
    }
}

nav.open_topre {
    transform: translateX(0);
}

footer.top_topre {
    background-color: $grey;
    padding-bottom: 40px;
    margin-top: 40px;

    nav.f-nav_topre {

        ul {
            height: 80px;
            border-top: solid 1px $border-color;
            border-bottom: solid 1px $border-color;
            display: flex;

            li {
                width: calc(100% / 3);
                height: 100%;
                border-left: solid 1px $border-color;

                a {
                    @include center;
                    flex-direction: column;

                    img {
                        width: 24px;
                        height: 24px;
                    }

                    span {
                        margin-top: 4px;
                        font-family: $font3;
                        @include font-s;
                    }
                }
            }

            li:nth-of-type(1) {
                border-left: none;
            }
        }
    }

    .con_topre:nth-of-type(1) {
        width: calc(100% - 32px);
        background-color: $white;
        padding-bottom: 8px;
        margin: 40px auto 0 auto;

        p {
            margin-top: 4px;
            text-align: center;
        }

        p:nth-of-type(1) {
            padding-top: 8px;
            margin-top: 0;
            font-family: $font3;
        }

        div {
            margin-top: 4px;
            @include center;

            img {
                width: 24px;
                height: 24px;
                margin-right: 6px;
            }

            span {
                font-family: $font2;
                font-size: 24px;
                font-weight: 500;
                line-height: 150%;
            }
        }

        p:nth-of-type(2) {
            font-family: $font2;
            @include font-s;
            font-weight: 500;
        }
    }

    .sns-nav_topre {
        margin: 24px 0 0 16px;

        ul {
            display: flex;
            justify-content: center;

            li {
                margin-left: 24px;

                a {
                    display: block;
                    width: 32px;
                    height: 32px;
                }
            }

            li:nth-of-type(1) {
                margin-left: 0;
            }
        }
    }

    .info-nav_topre {
        margin: 24px 0 0 16px;

        ul {

            li {
                margin-top: 8px;

                a {
                    @include font-s;
                    letter-spacing: 0;
                }
            }

            li:nth-of-type(1) {
                margin-top: 0;
            }
        }
    }

    small {
        display: block;
        margin: 24px 0 0 16px;
        font-size: 10px;
        color: #B4B4B7;
    }
}
